<table class="table table-bordered  table-hover ">
<thead class="flip-content bordered-palegreen">
<thead>
<tr>
	<th width="80">ID</th>
    <th >供应商名称</th>
    <th width="160">创建时间</th>
    <th width="160">最近登陆</th>
    <th width="60">状态</th>
    <th width="150">操作</th>
</tr>
</thead>
<tbody>

{volist name="data.list" id="vo" }
<tr>
	<td>{$vo.supplyer_id}</td>
    <td>{$vo.supplyer_name}</td>
    <td>{$vo.add_time|dateTpl}</td>
    <td>{$vo.login_time|dateTpl}</td>
   <td><a href="javascript:;"  class="{$vo.is_ban|tplckval='=0','active'}"><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a></td>
	<td>
<a href="{:url('supplyer/sys_admin.order/index',['supplyer_id'=>$vo['supplyer_id']])}" target="_blank" title="查看订单" class="fa fa-shopping-cart text-muted m-xs"></a>
<a href="{:url('supplyer/sys_admin.goods/index',['supplyer_id'=>$vo['supplyer_id']])}" target="_blank" title="查看商品" class="fa fa-gift text-muted m-xs"></a>
<a href="{:url('supplyer/sys_admin.statistics/index',['supplyer_id'=>$vo['supplyer_id']])}" target="_blank" title="查看统计" class="fa fa-pie-chart text-muted m-xs"></a>
<a href="{:url('info',['supplyer_id'=>$vo['supplyer_id']])}" title="编辑" class="fa fa-edit text-muted m-xs" ></a>

    </td>
</tr>

{/volist} 
</tbody>
</table>
{empty name="data.list"}
<table width="100%" >
 	<tr><td height="300" colspan="8" align="center" valign="middle" >没有相关数据！</td></tr>
</table>
{/empty}  