{extend name="layouts@dd_head" /}
{block name="main" }
<style>
    .rushto {
        /*抢购中*/
        width: 60px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        line-height: 50px;
        color: #fff;
        background: url('__STATIC__/dingding/images/index05.png');
        background-size: 100% 100%;
    }
    .rushto2 {
        /*已预约*/
        width: 60px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        line-height: 50px;
        color: #fff;
        background: url('__STATIC__/dingding/images/index07.png');
        background-size: 100% 100%;
    }
    .rushto3 {
        /*抢购*/
        width: 60px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        line-height: 50px;
        color: #fff;
        background: url('__STATIC__/dingding/images/index09.png');
        background-size: 100% 100%;
    }
    .rushto4 {
        /*抢购时间已过期*/
        width: 60px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        line-height: 50px;
        color: #fff;
        background: url('__STATIC__/dingding/images/index11.png');
        background-size: 100% 100%;
    }
    .ti {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .weui-tab{
        position: relative;
       height: 100%;
        width: 100vw;
    }
</style>
        <div class="page-bd DDB DDBBag dingding">
            <!-- 页面内容-->
            <div class="weui-tab">
                <div class="weui-navbar">
                    <a class="weui-navbar__item weui-bar__item--on" href="#tab1" onclick="getSellList1()">
                        待出售
                    </a>
                    <a class="weui-navbar__item" href="#tab2" onclick="getSellList2()">
                        出售中
                    </a>
                    <a class="weui-navbar__item" href="#tab3" onclick="getSellList3()">
                        交易记录
                    </a>
                    <a class="weui-navbar__item" href="#tab4" onclick="getBuyList();">
                        预约/抢购
                    </a>
<!--                    <a class="weui-navbar__item" href="#tab5">-->
<!--                        申诉-->
<!--                    </a>-->
                </div>
                <div class="weui-tab__bd">
                    <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
<!--                        <div>-->
                        <script type="text/html" id="listTpl1">
                            {{each list as item index}}
                            <div class="weui-cells">
                                <div class="weui-cell">
                                    <div class="weui-cell__hd">
                                        <p><img src="__STATIC__/dingding/images/index13.png" alt=""></p>
                                    </div>
                                    <div class="weui-cell__bd">
                                        <div class="shop">
                                            <p>交易金额：{{item.sell_number}}</p>
<!--                                            <p>抢购方：13412341234</p>-->
                                        </div>
                                        <p class="times dp-flex" style="justify-content: flex-start;">挂售时间：<span
                                               >{{item.sell_start_time_date}}</span></p>

                                    </div>
                                </div>
                            </div>

<!--                        </div>-->
                            {{/each}}
                        </script>
                    </div>
                    <div id="tab2" class="weui-tab__bd-item">
                        <script type="text/html" id="listTpl2">
                            <div class="weui-cells">
                            {{each list as item index}}
<!--                        <div>-->
                                <a href="{:url('ddkc/trade/sell_detail')}?id={{item.id}}">
                                <div class="weui-cell">
                                    <div class="weui-cell__hd">
                                        <p><img src="__STATIC__/dingding/images/index13.png" alt=""></p>
                                    </div>
                                    <div class="weui-cell__bd">
                                        <div class="shop">
                                            <p>交易金额：{{item.sell_number}}</p>
                                            <p>抢购方：{{item.buy_user.mobile}}</p>
                                        </div>
                                        {literal}
                                            {{if item.is_payment == 1}}
                                                <p id="timer{{item.id}}" class="times dp-flex" style="justify-content: flex-start;">付款时间剩余：<span
                                                    class="timer{{item.id}}">{{item.payment_time_gmdate}}</span></p>
                                            {{/if}}
                                            {{if item.is_confirm == 1}}
                                                <p id="timer{{item.id}}" class="times dp-flex" style="justify-content: flex-start;">确认时间剩余：<span
                                                class="timer{{item.id}}">{{item.confirm_time_gmdate}}</span></p>
                                            {{/if}}
                                        {/literal}


                                    </div>
                                </div>
                                </a>
<!--                        </div>-->
                            {{/each}}
                            </div>
                        </script>
                    </div>
                    <div id="tab3" class="weui-tab__bd-item">
                        <script type="text/html" id="listTpl3">
                            {{each list as item index}}
<!--                        <div>-->

                            <div class="weui-cells">
                                <a href="{:url('ddkc/trade/sell_detail')}?id={{item.id}}">
                                <div class="weui-cell">
                                    <div class="weui-cell__hd">
                                        <p><img src="__STATIC__/dingding/images/index14.png" alt=""></p>
                                    </div>
                                    <div class="weui-cell__bd">
                                        <div class="shop">
                                            <p>交易金额：{{item.sell_number}}</p>
                                            <p>抢购方：13412341234</p>
                                        </div>
                                        {literal}
                                        {{if item.sell_status == 4}}
                                        <p class="times dp-flex" style="justify-content: flex-start;">交易完成时间：<span
                                                >{{item.sell_end_time_date}}</span></p>
                                        {{/if}}
                                        {{if item.sell_status == 3}}
                                        <p class="times dp-flex" style="justify-content: flex-start;">交易失败时间：<span
                                                >{{item.sell_end_time_date}}</span></p>
                                        {{/if}}
                                        {/literal}


                                    </div>
                                </div>
                                </a>
                            </div>
<!--                        </div>-->
                            {{/each}}
                        </script>
                    </div>
                    <div id="tab4" class="weui-tab__bd-item" >
<!--                        <div >-->
                        <script type="text/html" id="listTpl4">
                            <div class="weui-cells">
                            {{each list as item index}}

                                    {literal}
                                    {{if item.buy_status == 2}}
                                        <div class="weui-cell" onclick="buy_detail({{item.id}});">
                                    {{else}}
                                        <div class="weui-cell">
                                    {{/if}}
                                    {/literal}

                                        <div class="weui-cell__hd">
                                            <p><img src="__STATIC__/dingding/images/index13.png" alt=""></p>
                                        </div>
                                        <div class="weui-cell__bd">
                                            <div class="shop">
                                                <p>{{item.stage_name}} </p>
                                                {literal}
                                                {{if item.buy_status == 2}}
                                                    {{if item.status_str == '待付款'}}
                                                        <p style="color: red;">{{item.status_str}}</p>
                                                    {{else}}
                                                        <p>{{item.status_str}}</p>
                                                    {{/if}}

                                                {{/if}}
                                                {{if item.buy_status == 3}}
                                                    <p>未中奖</p>
                                                {{/if}}
                                                {{if item.buy_status == 0}}
                                                    {{if item.is_buying == 0}}
                                                        <p>已预约</p>
                                                    {{/if}}
                                                    {{if item.is_buying == 2}}
                                                       <p>可抢购</p>
                                                    {{/if}}
                                                {{/if}}

                                                {{if item.is_buying == 1}}
                                                    <p>抢购中</p>
                                                {{/if}}
                                                {{if item.rushto4 == 4}}
                                                   <p>已过期</p>
                                                {{/if}}
                                                {/literal}

    <!--                                            <p>交易金额：240</p>-->
<!--                                                <p>抢购方：13412341234</p>-->
                                            </div>
    <!--                                        <p class="times dp-flex" style="justify-content: flex-start;">交易时间剩余：<span-->
    <!--                                                class="timer7">01:52:23</span></p>-->
                                            <div class="ti">
<!--                                                <p class="times dp-flex" style="justify-content: flex-start;">-->
<!--                                                    交易时间剩余：<span class="timer7">01:52:23</span>-->
<!--                                                </p>-->
                                                <p class="times dp-flex" style="justify-content: flex-start;">
                                                    预约时间：<span >{{item.buy_start_time_date}}</span>
                                                </p>
<!--                                                {literal}-->
<!--                                                    {{if item.buy_status == 0}}-->
<!--                                                        {{if item.is_buying == 0}}-->
<!--                                                            <div class="rushto2">已预约</div>-->
<!--                                                        {{/if}}-->
<!--                                                        {{if item.is_buying == 2}}-->
<!--                                                            <div class="rushto3" onclick="PanicBuying({{item.id}});">抢购</div>-->
<!--                                                        {{/if}}-->
<!--                                                    {{/if}}-->

<!--                                                    {{if item.is_buying == 1}}-->
<!--                                                    <div class="rushto">抢购中</div>-->
<!--                                                    {{/if}}-->
<!--                                                    {{if item.rushto4 == 4}}-->
<!--                                                        <div class="rushto">已过期</div>-->
<!--                                                    {{/if}}-->
<!--                                                {/literal}-->

                                            </div>
                                        </div>
                                    </div>

                            {{/each}}
                            </div>
                        </script>
<!--                        </div>-->
                    </div>
                    <div id="tab5" class="weui-tab__bd-item ">
                        <div class="tab5-text">
                            <p>订单号：93938382893992</p>
                            <p>买家账号：11111111111</p>
                            <p>买家紧急联系电话：22222222222</p>
                            <input type=" text" class="weui-input " placeholder="请输入申诉理由">
                            <div class="sure-btn sureBtn">立即申诉</div>
                            <div class="sale-details">
                                <div class="sd-title">申诉注意事项</div>
                                <div class="sd-cont">
                                    {$setting.appeal_explain|raw|html_entity_decode}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
{/block}

{block name="footer"}
<script>
  $(function() {
    FastClick.attach(document.body);
  });
</script>
    <script>
        // 页面多个倒计时
        // var aTime = [3600, 3800, 899890, 452334, 34, 24, 34343, 233242, 809];
        // for (var i = 0; i < aTime.length; i++) {
        //     (function (i) {
        //         var obj = 'timer' + i;
        //         countDown(aTime[i], function (msg) {
        //             var timeDom = document.getElementsByClassName(obj)
        //             timeDom[0].textContent = msg;
        //         })
        //     })(i)
        // }
        // function countDown(maxtime, fn) {
        //     var timer = setInterval(function () {
        //         if (!!maxtime) {
        //             var day = Math.floor(maxtime / 86400),
        //                 hour = Math.floor((maxtime % 86400) / 3600),
        //                 minutes = Math.floor((maxtime % 3600) / 60),
        //                 seconds = Math.floor(maxtime % 60),
        //                 msg = (hour < 10 ? '0' + hour : hour) + ":" + (minutes < 10 ? '0' + minutes : minutes) + ":" + (seconds < 10 ? '0' + seconds : seconds);
        //             fn(msg);
        //             --maxtime;
        //         } else {
        //             clearInterval(timer);
        //         }
        //     }, 1000);
        // }

        function countDown2(maxtime,id, fn) {
            var timer = setInterval(function () {
                if (!!maxtime) {
                    var day = Math.floor(maxtime / 86400),
                        hour = Math.floor((maxtime % 86400) / 3600),
                        minutes = Math.floor((maxtime % 3600) / 60),
                        seconds = Math.floor(maxtime % 60),
                        msg = (hour < 10 ? '0' + hour : hour) + ":" + (minutes < 10 ? '0' + minutes : minutes) + ":" + (seconds < 10 ? '0' + seconds : seconds);
                    fn(msg);
                    --maxtime;
                } else {
                    clearInterval(timer);
                    var obj = 'timer'+id;
                    $('#'+obj).hide();
                }
            }, 1000);
        }


    </script>
<script type="text/javascript">
    var page_1 = 1;
    var page_2 = 1;
    var page_3 = 1;
    var page_4 = 1;
    var loading_1 = false;
    var loading_2 = false;
    var loading_3 = false;
    var loading_4 = false;

    $(function() {
        getSellList1();
    });
    $('#tab1').infinite().on("infinite", function() {
        getSellList1();
    });
    $('#tab2').infinite().on("infinite", function() {
        getSellList2();
    });

    $('#tab3').infinite().on("infinite", function() {
        getSellList3();
    });
    $('#tab4').infinite().on("infinite", function() {
        getBuyList();
    });
    //获取待出售记录
    function getSellList1(){
        if(loading_1) return;
        loading_1 = true;

        var arr = new Object();
        arr.p = page_1;
        arr.type = 1;
        jq_ajax('{:url("ddkc/api.trade/getSellList")}',arr,function (res) {
            if (res.list.length > 0) {
                $('#tab1').append(template('listTpl1',res));
                page_1++;
                loading_1 = false;
            }else{
                $.toast('加载完成',"text");
            }
        })
    }

    var List2 = new Object();
    //获取出售中记录
    function getSellList2(){
        if(loading_2) return;
        loading_2 = true;

        var arr = new Object();
        arr.p = page_2;
        arr.type = 2;
        jq_ajax('{:url("ddkc/api.trade/getSellList")}',arr,function (res) {
            if (res.list.length > 0) {
                $('#tab2').append(template('listTpl2',res));
                page_2++;
                loading_2 = false;
                $.each(res.list,function(i,v){
                    var obj = 'timer' + v.id;
                    if(v.is_payment == 1){
                        countDown2(v.payment_times, v.id,function (msg) {
                            var timeDom = document.getElementsByClassName(obj)
                            timeDom[0].textContent = msg;
                        })
                    }
                    if(v.is_confirm == 1){
                        countDown2(v.confirm_time,v.id ,function (msg) {
                            var timeDom = document.getElementsByClassName(obj)
                            timeDom[0].textContent = msg;
                        })
                    }

                })

            }else{
                $.toast('加载完成',"text");
            }
        })
    }
    //获取交易记录
    function getSellList3(){
        if(loading_3) return;
        loading_3 = true;
        var arr = new Object();
        arr.p = page_3;
        arr.type = 3;
        jq_ajax('{:url("ddkc/api.trade/getSellList")}',arr,function (res) {
            if (res.list.length > 0) {
                $('#tab3').append(template('listTpl3',res));
                page_3++;
                loading_3 = false;
            }else{
                $.toast('加载完成',"text");
            }
        })
    }
    //获取预约记录
    function getBuyList(){
        if(loading_4) return;
        loading_4 = true;

        var arr = new Object();
        arr.p = page_4;
        jq_ajax('{:url("ddkc/api.trade/getBuyList")}',arr,function (res) {
            if (res.list.length > 0) {
                $('#tab4').append(template('listTpl4',res));
                page_4++;
                loading_4 = false;
            }else{
                $.toast('加载完成',"text");
            }
        })
    }

    //抢购
    var isPostMsg = false;
    function PanicBuying(id){
        var arr = new Object();
        arr.id = id;
        if(isPostMsg==true){
            return false;
        }
        isPostMsg = true;
        jq_ajax('{:url("ddkc/api.trade/PanicBuying")}',arr,function (data) {
            isPostMsg = false;
            if(data.code==1){
                $.toast(data.msg, "text",function(){
                    window.location.reload();
                    // window.location.href = data.url;
                });
            }else{
                $.toast(data.msg, "text");
            }
        })
    }

    //详情
    function buy_detail(id){
        var url = "{:url('ddkc/trade/buy_detail')}?id="+id;
        window.location.href =url;
    }
</script>
</body>

</html>
{/block}