{extend name="layouts@dd_head" /}
{block name="main" }
<style>
    .cons {
        align-items: center;
        background: none !important;
        border: 0 !important;
        color: #fff;
        width: 100vw !important;
    }

    .fs20 {
        font-size: .266667rem;
    }

    .statusImg {
        width: 4rem;
        height: 4rem;
        margin-left: 0.5rem;
    }

    .goto_btn {
        width: 1.2rem;
        height: .4rem;
        text-align: center;
        font-size: .16rem;
        color: #fff;
        border-radius: .106667rem;
        line-height: .4rem;
        background-color: #f08300;
        margin: .133333rem 0 .186667rem;
    }

    .closeImg {
        width: .4rem;
        height: .4rem;
        margin-top: .133333rem;
    }

    .bott {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }

    audio {
        opacity: 0;
        height: .013333rem;
    }
</style>
    <div class="page">
        <!-- <div class="page-hd">
            <div class="header bor-1px-b">
    <div class="header-left">
        <a href="javascript:history.go(-1)" class="left-arrow"></a>
    </div>
    <div class="header-title">首页</div>
    <div class="header-right">
        <a href="#"></a>
    </div>
</div>
        </div> -->

        <div class="page-bd indexPage ">
            <!-- 页面内容-->
            <div>
                <div class="swiper-container" data-space-between='10' data-pagination='.swiper-pagination'
                    data-autoplay="1000">
<!--                    <div class="swiper-wrapper">-->
<!--                        <div class="swiper-slide"><img src="__STATIC__/dingding//images/swiper01.png" alt=""></div>-->
<!--                        <div class="swiper-slide"><img src="__STATIC__/dingding//images/swiper01.png" alt=""></div>-->
<!--                        <div class="swiper-slide"><img src="__STATIC__/dingding//images/swiper01.png" alt=""></div>-->
<!--                    </div>-->
                            <div class="swiper-wrapper">
                                {volist name='slideList' id='vol'}
                                <div class="swiper-slide">
                                    <a href="{$vol.url}">
                                       <img style="max-height: 200px;" src="{$vol.imgurl}" alt="">
                                    </a>
                                </div>
                                {/volist}
                            </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="lists"  id="TradingStageList">
                    <script type="text/html" id="listTpl">
                        {{each list as item index}}
                        <div class="list dp-flex">
                            <img class="list-img" src="__STATIC__/dingding//images/index12.png" alt="">
                            <div class="list-txt">
                                <p>{{item.stage_name}}</p>
                                <p>抢购数量：{{item.trade_min_num}}-{{item.trade_max_num}}</p>
                                <p>抢购时间：{{item.trade_start_time}}-{{item.trade_end_time}}</p>
                                <p>信用积分：{{item.scribe_integral}}</p>
                                {literal}
                                {{if item.down_time}}
                                <p id="timer{{item.id}}" class="times dp-flex" style="justify-content: flex-start;">距离开始抢购时间：<span
                                        class="timer{{item.id}}" style="color: red;">{{item.down_time_date}}</span></p>
                                {{/if}}
                                {/literal}
                            </div>
                            {literal}
                                {{if item.buy_status == 1}}
                                    <div class="list-btn sureBtn" onclick="sureBtn({{item.id}},{{item.scribe_integral}})"><img src="{{item.img}}" alt=""></div>
                                {{/if}}
                                {{if item.buy_status == 2}}
                                    <div class="list-btn " ><img src="{{item.img}}" alt=""></div>
                                {{/if}}
                                {{if item.buy_status == 3}}
                                    <div class="list-btn " onclick="PanicBuying({{item.buy_id}});" ><img src="{{item.img}}" alt=""></div>
                                {{/if}}
                                {{if item.buy_status == 4}}
                                    <div class="list-btn " ><img src="{{item.img}}" alt=""></div>
                                {{/if}}
                                {{if item.buy_status == 5}}
                                    <div class="list-btn "><img src="{{item.img}}" alt=""></div>
                                {{/if}}
                            {/literal}

                        </div>
                        {{/each}}
                    </script>
                </div>
            </div>
            <!-- 弹窗 -->
            <div class="popup popup01">
                <div class="popup-bgc"></div>
                <div class="popup-content">
                    <div class="sd-cont-net1" style="display: block;">
                        <div class="sd-t dp-flex">是否消耗<span class="color-e7 scribe_integral">10</span>信用积分预约抢购</div>
                        <div class="con">
                            <p>预约后未进行抢购，系统将永久扣除<b class="scribe_integral">10</b>信用积分；无论是否抢到叮叮，系统都将返回信用积分</p>
                        </div>
                        <div class="btns dp-flex">
                            <div class="yesBtn" data-id="" onclick="yesBtn();"> <img src="__STATIC__/dingding//images/yes.png" alt="">
                            </div>
                            <div class="noBtn" onclick="closePop() "> <img src="__STATIC__/dingding//images/no.png" alt=""></div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- 首页进入显示 -->
            {if condition="$settings.is_index_notice eq 1"}
            <div class="popup popup02" style="display: none;">
                <div class="popup-bgc"></div>
                <div class="model-con">
                    <div class="model-ctp"><img src="__STATIC__/dingding//images/pop02.png" alt=""></div>
                    <div class="model-cco">
                        <img class="title" src="__STATIC__/dingding//images/pop04.png" alt="">
                        <div class="cont" style="width: 100%;work-wrap:break-word;">
                            <div>
                                {$settings.tips_notice|raw|html_entity_decode}
                            </div>
                        </div>
                        <img class="tip-img" src="__STATIC__/dingding//images/pop01.png" alt="">
                    </div>
                    <div class="model-cbt"><img onclick="closePop2() " src="__STATIC__/dingding//images/close01.png" alt=""></div>
                </div>

            </div>
            {/if}
            <!-- 开奖 -->
            <div class="popup popup03" style="display: none;">
                <div class="popup-bgc"></div>
                <!-- 成功 -->
                <div class="popup-content cons con3" style="top:0;left:0;right:0;display: none;">
                    <img class="statusImg" src="__STATIC__/dingding/images/suc01.gif" alt="">
<!--                    <audio  controls="controls" id="mp33"  src="__STATIC__/dingding/images/suc01.mp3"></audio>-->
                    <div class="bott">
                        <p class="fs20" style="text-align: center;">恭喜您<br />成功了！</p>
                        <div class="goto_btn">前往叮叮记录</div>
                        <img class="closeImg close1" src="__STATIC__/dingding/images/close01.png" alt="">
                    </div>
                </div>
                <!-- 失败 -->
                <div class="popup-content cons con4" style="top:0;left:0;right:0;display: none;">
                    <img class="statusImg" src="__STATIC__/dingding/images/fail01.gif" alt="">
<!--                    <audio  controls="controls"  id="mp34" src="__STATIC__/dingding/images/fail01.mp3"></audio>-->
                    <div class="bott">
                        <p class="fs20" style="text-align: center;">抱歉<br />失败了！</p>
                        <div class="goto_btn">前往叮叮记录</div>
                        <img class="closeImg close1" src="__STATIC__/dingding/images/close01.png" alt="">
                    </div>
                </div>
                <!-- 等待 -->
                <div class="popup-content  cons con5" style="top:0;left:0;right:0;display: none;">
                    <img class="statusImg" src="__STATIC__/dingding/images/wait01.gif" alt="">
                    <div class="bott">
                        <p class="fs20" style="text-align: center;">等待中！</p>
                        <img class="closeImg close2" src="__STATIC__/dingding/images/close01.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        {include file="layouts@dd_bottom" /}
</div>
{/block}

{block name="footer"}
<script>
  $(function() {
    FastClick.attach(document.body);
  });
</script>
    <script src='http://cdn.bootcss.com/socket.io/1.3.7/socket.io.js'></script>
    <script src="__STATIC__/dingding//js/Swiper-4.0.7/swiper.min.js"></script>
    <script>
        var end_time =2*60;

        var mySwiper = new Swiper('.swiper-container', {
            autoplay: true,
            pagination: {
                el: '.swiper-pagination',
            },
        })
        // $('.popup-bgc').on('click', function () {
        //     $('.popup02').hide()
        // })
        $(".sureBtn").on('click', function () {
            $('.popup01').show()
        })
        function closePop() {
            $('.popup').hide()
        }
        function closePop2() {
            setCookie('is_index_notice',1,1);
            $('.popup').hide()
        }
        function link(url){
            window.location.href = url;
        }
        $(function () {
            //获取开奖情况
            lottery_results();
        })
        $(function () {
            var index_notice = getCookie('is_index_notice');
            var is_index_notice = {$settings.is_index_notice};
            if(index_notice==''&&is_index_notice){
                $('.popup02').css('display','block');
            }
        })

        //设置cookie
        function setCookie(name,value,day){
            var date = new Date();
            date.setDate(date.getDate() + day);
            document.cookie = name + '=' + value + ';expires='+ date;
        };
        //获取cookie
        function getCookie(name){
            var reg = RegExp(name+'=([^;]+)');
            var arr = document.cookie.match(reg);
            if(arr){
                return arr[1];
            }else{
                return '';
            }
        };
        //删除cookie
        function delCookie(name){
            setCookie(name,null,-1);
        };
    </script>
    <script>
       $(function(){
           getTradingStageList();
       })
       function getTradingStageList(){
           jq_ajax('{:url("ddkc/api.trade/getTradingStageList")}','',function (res) {
               // if (is_new == 1) $("#myMinerData").html('');
               $('#TradingStageList').append(template('listTpl',res));
               console.log(res);
               if (res.list.length > 0) {
                   $.each(res.list,function(i,v){
                       if(v.down_time==''||v.down_time==null){

                       }else{
                           var obj = 'timer' + v.id;
                           countDown(v.down_time,v.id ,v.buy_id,function (msg) {
                               var timeDom = document.getElementsByClassName(obj)
                               timeDom[0].textContent = msg;
                           })
                       }
                   })
                   // page_2++;
                   // loading_2 = false;
               }else{
                   $.toast('加载完成', "text");
               }
           })
       }

       function sureBtn(id,scribe_integral){
           $('.popup01').show()
           $('.yesBtn').attr('data-id',id);
           $('.scribe_integral').html(scribe_integral);
       }

       var isPostMsg = false;
       function yesBtn(){
           var id =  $('.yesBtn').attr('data-id');
           var arr = new Object();
           arr.stage_id = id;

           if(isPostMsg==true){
               return false;
           }
           isPostMsg = true;
           jq_ajax('{:url("ddkc/api.trade/buy_trade")}',arr,function (data) {
                        isPostMsg = false;
                        $('.popup').hide();
                       if(data.code==1){
                           $.toast(data.msg, "text",function(){
                               window.location.reload();
                           });
                       }else{
                           $.toast(data.msg, "text");
                       }
           })
       }
       //抢购
       var isPostMsg2 = false;
       function PanicBuying(id){
           var arr = new Object();
           arr.id = id;
           if(isPostMsg2==true){
               return false;
           }
           isPostMsg2 = true;
           jq_ajax('{:url("ddkc/api.trade/PanicBuying")}',arr,function (data) {
               isPostMsg2 = false;
               if(data.code==1){
                   $.toast(data.msg, "text",function(){
                       window.location.reload();
                       // window.location.href = data.url;
                   });
               }else{
                   $.toast(data.msg, "text");
               }
           })
       }
        function lottery_results() {
            jq_ajax('{:url("ddkc/api.trade/lottery_results2")}','',function (data) {
                // console.log(data);
               if(data.lottery_status>0){
                   $('.popup03').css('display','block');
                    if(data.lottery_status==1){
                        $('.con5').css('display','block');
                        //轮询查询开奖结果
                        console.log(data);
                        start (data.buy_info.id)
                    }else if(data.lottery_status==2){
                        $('.con3').css('display','block');
                        var str = '<audio  controls="controls"  autoplay src="__STATIC__/dingding/images/suc01.mp3"></audio>';
                        $('.con3').append(str);
                        $('.con3').find('.goto_btn').attr('data-id',data.buy_info.id)
                        $('.con3').find('.closeImg').attr('data-id',data.buy_info.id)

                    }else if(data.lottery_status==3){
                        $('.con4').css('display','block');
                        var str = '<audio  controls="controls"  autoplay src="__STATIC__/dingding/images/fail01.mp3"></audio>';
                        $('.con4').append(str);
                        $('.con4').find('.goto_btn').attr('data-id',data.buy_info.id)
                        $('.con4').find('.closeImg').attr('data-id',data.buy_info.id)
                    }
               }
            })
        }
        $('.goto_btn').on('click', function () {
          var id = $(this).attr('data-id');
            update_see_status(id,1)
        })
       $('.close1').on('click', function () {
           var id = $(this).attr('data-id');
           update_see_status(id,2)
       })
       $('.close2').on('click', function () {
           $('.popup03').hide()
       })
       function countDown(maxtime,id,buy_id, fn) {
           var timer = setInterval(function () {
               if (!!maxtime) {
                   var day = Math.floor(maxtime / 86400),
                       hour = Math.floor((maxtime % 86400) / 3600),
                       minutes = Math.floor((maxtime % 3600) / 60),
                       seconds = Math.floor(maxtime % 60),
                       msg = (hour < 10 ? '0' + hour : hour) + ":" + (minutes < 10 ? '0' + minutes : minutes) + ":" + (seconds < 10 ? '0' + seconds : seconds);
                   fn(msg);
                   --maxtime;
               } else {
                   clearInterval(timer);
                   var obj = 'timer'+id;
                   $('#'+obj).hide();
                   var test = $("#"+obj).parent().next();
                   var img = $(test).children();
                   //更换图标
                   $(img).attr('src','/static/dingding/images/index02.png');
                   //添加事件
                    $(test).attr("onclick","PanicBuying("+buy_id+");");
               }
           }, 1000);
       }
       function update_see_status(id,type){
           jq_ajax('{:url("ddkc/api.trade/update_see_status")}',{'id':id},function (data) {

                   $('.popup03').hide();
                   if(type==1){
                       window.location.href ="{:url('ddkc/trade/dd_wallet')}";
                   }

           })
       }

       //轮询查询开奖结果
       async function start(id) {
           $.ajax({
               'url':'{:url("ddkc/api.trade/polling")}',
               'type':'post',
               'data':{'id':id},
               'dataType':'json',
               'success':function(data){
                   if(data.buy_status>0){
                       if(data.buy_status==2){
                           //已中奖
                           $('.popup03').css('display','block');
                           $('.con5').css('display','none');
                           $('.con3').css('display','block');
                           var str = '<audio  controls="controls"  autoplay src="__STATIC__/dingding/images/suc01.mp3"></audio>';
                           $('.con3').append(str);
                           $('.con3').find('.goto_btn').attr('data-id',data.id)
                           $('.con3').find('.closeImg').attr('data-id',data.id)
                       }
                       if(data.buy_status==3){
                           //未中奖
                           $('.popup03').css('display','block');
                           $('.con4').css('display','block');
                           var str = '<audio  controls="controls"  autoplay src="__STATIC__/dingding/images/fail01.mp3"></audio>';
                           $('.con4').append(str);
                           $('.con4').find('.goto_btn').attr('data-id',data.id)
                           $('.con4').find('.closeImg').attr('data-id',data.id)
                       }
                       return false;
                   }else{
                       timerId = setTimeout('start('+id+')', 5000)
                   }
               }
           });

       }
    </script>
<script>
    // // 连接服务端，workerman.net:2120换成实际部署web-msg-sender服务的域名或者ip
    // var socket = io('http://dd.weiqipan.com:2346');
    // // uid可以是自己网站的用户id，以便针对uid推送以及统计在线人数
    // uid = 123;
    // // socket连接后以uid登录
    // socket.on('connect', function(){
    //     console.log(22);
    //     socket.emit('login', uid);
    // });
    // // 后端推送来消息时
    // socket.on('new_msg', function(msg){
    //     console.log(333);
    //     console.log("收到消息："+msg);
    // });
    // // 后端推送来在线数据时
    // socket.on('update_online_count', function(online_stat){
    //     console.log(44);
    //     console.log(online_stat);
    // });
    ws = new WebSocket("ws:47.244.145.248:2346");
        ws.onopen = function() {
            // alert("连接成功");
            // ws.send('tom');
            // alert("给服务端发送一个字符串：tom");
        };
        ws.onmessage = function(e) {
            // console.log( e.data);
            // alert("收到服务端的消息：" + e.data);
    };
</script>
</body>

</html>
{/block}