{extend name="mainadmin@layouts/base" /}
{block name="main" }
<header class="header  b-b clearfix">
     <div class="page-breadcrumbs">
            <ul class="breadcrumb" >
                <li>
                    <i class="fa fa-ellipsis-v"></i>
                    <strong>商城设置</strong>
                </li>                                  
            </ul>
      </div>
</header>
<section class="scrollable  wrapper w-f">
    <form class="form-horizontal form-validate" method="post" action="{:url('save')}">
        <section class="panel panel-default">
                  <header>
                      <ul class="nav nav-tabs">
                          <li class="active"><a href="#basic" data-toggle="tab">基本配置</a></li>
                          <li><a href="#return" data-toggle="tab">退货信息</a></li>
                          <li><a href="#kdnset" data-toggle="tab">快递鸟配置</a></li>
                          <li><a href="#bonus" data-toggle="tab">优惠券设置</a></li>
                      </ul>
                  </header>
                <div class="tab-content">
                    <div class="tab-pane active" id="basic">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">首页设定：</label>
                            <div class="controls">
                                <label class="radio-inline">
                                    <input name="shop_index_tpl" value="0" {$setting['shop_index_tpl']==0?'checked':''} type="radio">默认首页
                                </label>
                                <label class="radio-inline">
                                    <input name="shop_index_tpl" value="1" {$setting['shop_index_tpl']==1?'checked':''} type="radio" >自定义首页
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">商城Title：</label>
                            <div class="controls">
                                <input type="text" name="shop_title"  class="input-large" value="{$setting.shop_title}"> <span class="help-line">首页 - xxxxxxxxxx</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">搜索框文字：</label>
                            <div class="controls">
                                <input type="text" name="shop_index_search_text"  class="input-large" data-rule-required="true" value="{$setting.shop_index_search_text}"> <span class="help-line">搜索框默认显示的搜索关键字</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">热门搜索：</label>
                            <div class="controls">
                                <input type="text" name="hot_search"  class="input-xxlarge" value="{$setting.hot_search}"> <span class="help-line">每个搜索词中间用空格隔开</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" >首页头条数量：</label>
                            <div class="controls">
                                <select name="headline_max_num"  >
                                    {for start="1" end="31" name="num" }
                                    <option value="{$num}" {$setting['headline_max_num']==$num?'selected':''}>{$num} 条</option>
                                    {/for}
                                </select> <span class="help-line">首页头条最多可显示的数量</span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">开放商品评论：</label>
                            <div class="controls">
                                <label class="radio-inline">
                                    <input name="shop_goods_comment" value="0" {$setting['shop_goods_comment']<1?'checked':''} type="radio">关闭
                                </label>
                                <label class="radio-inline">
                                    <input name="shop_goods_comment" value="1" {$setting['shop_goods_comment']==1?'checked':''} type="radio" >开启
                                </label>
                            </div>
                        </div>
                        <div class="form-group hide">
                            <label class="col-sm-2 control-label">开放商品问答：</label>
                            <div class="controls">
                                <label class="radio-inline">
                                    <input name="shop_goods_answer" value="0" {$setting['shop_goods_answer']<1?'checked':''} type="radio">关闭
                                </label>
                                <label class="radio-inline">
                                    <input name="shop_goods_answer" value="1" {$setting['shop_goods_answer']==1?'checked':''} type="radio" >开启
                                </label>
                            </div>
                        </div>

                        <div class="line line-dashed line-lg pull-in"  style="width:99%;"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" >超时取消：</label>
                            <div class="controls">
                                <select name="shop_order_auto_cancel"  style="width:200px;">
                                    <option value="0" {$setting['shop_order_auto_cancel']==0?'selected':''}>不执行自动取消</option>
                                    <option value="15" {$setting['shop_order_auto_cancel']==15?'selected':''}>15 分钟</option>
                                    <option value="30" {$setting['shop_order_auto_cancel']==30?'selected':''}>30 分钟</option>
                                    {for start="1" end="24" name="time" }
                                    <option value="{$time * 60}" {$setting['shop_order_auto_cancel']==$time * 60?'selected':''}>{$time} 小时</option>
                                    {/for}
                                </select> <span class="help-line">下单成功后超过指定时间未支付自动取消订单</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" >自动签收：</label>
                            <div class="controls">
                                <select name="shop_auto_sign_limit"  >
                                    {for start="1" end="31" name="day" }
                                    <option value="{$day}" {$setting['shop_auto_sign_limit']==$day?'selected':''}>{$day} 天</option>
                                    {/for}
                                </select> <span class="help-line">发货多少天后订单自动签收</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" >快递查询接口：</label>
                            <div class="controls">
                                <select class="input-max" name="shop_shippping_view_fun">
                                    <option value="">选择快递查询接口</option>
                                    {volist name="shippingFunction" id="val"}
                                    <option value="{$val.function}" {$setting['shop_shippping_view_fun'] == $val['function']?'selected':''} >{$val.name}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" >申请售后：</label>
                            <div class="controls">
                                <select name="shop_after_sale_limit"  class="input-max">
                                    <option value="0" {$setting['shop_after_sale_limit']==0?'selected':''}>不启用售后功能</option>
                                    {for start="1" end="31" name="day" }
                                    <option value="{$day}" {$setting['shop_after_sale_limit']==$day?'selected':''}>{$day} 天</option>
                                    {/for}
                                </select> <span class="help-line">签收后多少天内可申请售后</span>
                            </div>
                        </div>
                        <div class="line line-dashed line-lg pull-in"  style="width:99%;"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">减库存的时机：</label>
                            <div class="controls">
                                <label class="radio-inline">
                                    <input name="shop_reduce_stock" value="0" {$setting['shop_reduce_stock']==0?'checked':''} type="radio">下单成功时
                                </label>
                                <label class="radio-inline">
                                    <input name="shop_reduce_stock" value="1" {$setting['shop_reduce_stock']==1?'checked':''} type="radio" >支付成功时
                                </label>
                            </div>
                        </div>
                        <div class="line line-dashed line-lg pull-in"  style="width:99%;"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">取消未发货订单：</label>
                            <div class="controls">
                                <label class="radio-inline">
                                    <input name="order_unshipped_cancel" value="1" {$setting['order_unshipped_cancel']>0?'checked':''} type="radio">开启
                                </label>
                                <label class="radio-inline">
                                    <input name="order_unshipped_cancel" value="0" {$setting['order_unshipped_cancel']==0?'checked':''} type="radio" >关闭
                                </label>
                                <span class="help-inline">订单已支付，未发货，是否允许取消</span>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane " id="return">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">退货收货人：</label>
                            <div class="controls">
                                <input type="text" name="return_consignee" value="{$setting.return_consignee}" class="input-large"> <span class="help-line"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">退货联系电话：</label>
                            <div class="controls">
                                <input type="text" name="return_mobile" value="{$setting.return_mobile}" class="input-large"> <span class="help-line"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">退货地址：</label>
                            <div class="controls">
                                <input type="text" name="return_address" value="{$setting.return_address}" class="input-xxlarge"> <span class="help-line"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">退货说明：</label>
                            <div class="controls">
                               <textarea rows="4" class="input-xxlarge" name="return_desc">{$setting.return_desc}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="kdnset">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" >电商ID（快递鸟）：</label>
                            <div class="controls">
                                <input type="text" name="kdn_appid" value="{$setting.kdn_appid}" style="width: 300px;"> <span class="help-line"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" >电商加密私钥（快递鸟）：</label>
                            <div class="controls">
                                <input type="text" name="kdn_apikey" value="{$setting.kdn_apikey}" style="width: 300px;"> <span class="help-line"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" >邮政编码：</label>
                            <div class="controls">
                                <input type="text" name="kdn_postcode" value="{$setting.kdn_postcode}" style="width: 300px;"> <span class="help-line"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" >接口地址（快递鸟）：</label>
                            <div class="controls">
                                <input type="text" name="kdn_apiurl" value="{$setting.kdn_apiurl}" style="width: 300px;">
                                <span class="help-line"></span>
                                <select onchange="$('input[name=kdn_apiurl]').val($(this).val());">
                                    <option value="">请选择接口地址</option>
                                    <option value="http://api.kdniao.com/api/Eorderservice">正式地址</option>
                                    <option value="http://testapi.kdniao.com:8081/api/EOrderService">测试地址</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" >寄件人名称（快递鸟）：</label>
                            <div class="controls">
                                <input type="text" name="kdn_name" value="{$setting.kdn_name}"> <span class="help-line"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" >联系电话（快递鸟）：</label>
                            <div class="controls">
                                <input type="text" name="kdn_phone" value="{$setting.kdn_phone}"> <span class="help-line"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" >地区（快递鸟）：</label>
                            <div class="controls">
                                <input type="text" name="kdn_province" class="input-mini" style="text-align: center" value="{$setting.kdn_province}"> <span class="help-line">省</span>
                                <input type="text" name="kdn_city" class="input-mini" style="text-align: center" value="{$setting.kdn_city}"> <span class="help-line">市</span>
                                <input type="text" name="kdn_area" class="input-mini" style="text-align: center" value="{$setting.kdn_area}"> <span class="help-line">区</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" >详情地址（快递鸟）：</label>
                            <div class="controls">
                                <input type="text" name="kdn_address" value="{$setting.kdn_address}" style="width: 300px;"> <span class="help-line"></span>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="cnset">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" >电商ID（菜鸟）：</label>
                            <div class="controls">
                                <input type="text" name="cn_appid" value="{$setting.cn_appid}" style="width: 300px;"> <span class="help-line"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" >电商加密私钥（菜鸟）：</label>
                            <div class="controls">
                                <input type="text" name="cn_apikey" value="{$setting.cn_apikey}" style="width: 300px;"> <span class="help-line"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" >邮政编码：</label>
                            <div class="controls">
                                <input type="text" name="cn_postcode" value="{$setting.cn_postcode}" style="width: 300px;"> <span class="help-line"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" >接口地址（菜鸟）：</label>
                            <div class="controls">
                                <input type="text" name="cn_apiurl" value="{$setting.cn_apiurl}" style="width: 300px;">
                                <span class="help-line"></span>
                                <select onchange="$('input[name=cn_apiurl]').val($(this).val());">
                                    <option value="">请选择接口地址</option>
                                    <option value="http://api.kdniao.com/api/Eorderservice">正式地址</option>
                                    <option value="http://testapi.kdniao.com:8081/api/EOrderService">测试地址</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" >寄件人名称（菜鸟）：</label>
                            <div class="controls">
                                <input type="text" name="cn_name" value="{$setting.cn_name}"> <span class="help-line"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" >联系电话（菜鸟）：</label>
                            <div class="controls">
                                <input type="text" name="cn_phone" value="{$setting.cn_phone}"> <span class="help-line"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" >地区（菜鸟）：</label>
                            <div class="controls">
                                <input type="text" name="cn_province" class="input-mini" style="text-align: center" value="{$setting.cn_province}"> <span class="help-line">省</span>
                                <input type="text" name="cn_city" class="input-mini" style="text-align: center" value="{$setting.cn_city}"> <span class="help-line">市</span>
                                <input type="text" name="cn_area" class="input-mini" style="text-align: center" value="{$setting.cn_area}"> <span class="help-line">区</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" >详情地址（菜鸟）：</label>
                            <div class="controls">
                                <input type="text" name="cn_address" value="{$setting.cn_address}" style="width: 300px;"> <span class="help-line"></span>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane " id="bonus">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">开放优惠券：</label>
                            <div class="controls">
                                <label class="radio-inline">
                                    <input name="shop_used_bonus" value="0" {$setting['shop_used_bonus']<1?'checked':''} type="radio">关闭
                                </label>
                                <label class="radio-inline">
                                    <input name="shop_used_bonus" value="1" {$setting['shop_used_bonus']==1?'checked':''} type="radio" >开启
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">注册优惠券背景：</label>
                            <div class="controls col-sm-6">
                                <span class="help-inline">建议图片尺寸：320*320像素</span><br>
                                <img class="thumb_img" src="{$setting.reg_bonus_bg}" style="max-height: 100px;"/><br>
                                <input class="hide" type="text" name="reg_bonus_bg" value="{$setting.reg_bonus_bg}"/>
                                <button class="btn btn-default" type="button" data-toggle="selectimg">选择图片</button>
                            </div>
                        </div>
                    </div>
                 </div>

          </section>
</section>
<footer class="footer bg-white b-t p-t">
    <div class="form-group">
        <div class="col-sm-4 col-sm-offset-1">
            <button type="submit" class="btn btn-primary js_save_submit" data-loading-text="保存中...">保存
            </button>
            <button type="button" class="btn btn-default" data-toggle="back">取消</button>
        </div>
    </div>
</footer>
</form>
{/block}