.clearfix:before,.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {clear: both;}

.fl{ float:left !important;}
.fr{ float: right !important;}

.m-l{margin-left:5mm !important;}
.m-l-md{margin-left:3mm !important;}
.m-l-xs{margin-left:2mm !important;}
.m-r{margin-right: 5px !important;}
.m-r-tm{margin-right: 10px !important;}
.m-t-mc{ margin-top:7px !important;}
.m-t-md{ margin-top:5px !important;}
.m-b{ margin-bottom:10px !important;}
.m-b-md{ margin-bottom:5px !important;}

.p-t{padding-top:10px !important;}
.p-r{padding-right:10px !important;}
.p-l{padding-left:10px !important;}
.p-l2{padding-left:20px !important;}

.footer{min-height:50px;}
.footer .dropdown-menu{ top:-132px !important;}
.menu_top .dropdown-menu{ top:-132px !important;}
.footer .m-t{ margin-top:10px;}
.header{ padding:0px !important;}
.dropdown-box{width:50px; }
.text-muted { line-height:30px;}
.padding{padding:10px;}
.pl{padding-left:10px;}
.lh30{line-height:30px;}
.control-group,.form-group{ position:relative !important; margin-left:0px !important;}
.controls{ position:relative !important; float:left;}
.help-block{ position:absolute;top:-23px; line-height:23px; left:0px; min-width:120px; }

input[type='text']{padding:6px;padding-left:5px; margin-bottom:5px;}
.form-group label{  padding-right:20px;line-height:30px;}
.form-group .controls label{ padding-top:7px; overflow:hidden; height:30px;}
.form-group .control-label{ float:left; line-height:18px; width:130px; padding-left:10px; padding-right:20px; text-align:right;}
.input-text,.input-large,.input-xlarge,.input-xxlarge,.input-small,.input-ssmall,.input-medium,input[class*="span"],select[class*="span"],textarea[class*="span"],.uneditable-input,.input-max{width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.input-small{width:90px !important}.input-ssmall{width:50px !important}.input-medium{width:150px !important}.input-large{width:198px !important}.input-xlarge{width:270px !important}.input-text,.input-xxlarge{width:530px }.input-max{width:100%;}.input-mini{width:70px !important}
.form-group input[type=text]{ line-height:20px; padding:5px; margin-bottom:5px;}
.form-group .input-medium{ margin-bottom:0px !important;}
.talbe-search input[type=text]{margin-bottom:0px;}
.checkbox-slider,.colored-success{ display:none;}
label { padding-top:0px; margin-top:0px;}
.list-li-border{ padding:0px;}
.list-li-border li{list-style:none; line-height:20px;}
.list-li-border li input{ margin-right:8px;}
.checkbox-inline{ line-height:20px !important;}
.input-group input{margin-bottom:0px !important;}
.input-group button{ padding:0px 5px;line-height:23px; height:28px; margin-bottom:2px;}
.alert{padding:8px 35px 8px 10px;text-shadow:none;-webkit-box-shadow:0 2px 4px rgba(0,0,0,0.2);-moz-box-shadow:0 2px 4px rgba(0,0,0,0.2);box-shadow:0 2px 4px rgba(0,0,0,0.2);background-color:#f9edbe;border:1px solid #f0c36d;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;color:#333}.alert-success{background-color:#dff0d8;border-color:#a3d48e;color:#468847}.alert-danger,.alert-error{background-color:#f2dede;border-color:#dd4b39;color:#dd4b39}.alert-info{background-color:#d9edf7;border-color:#85c5e5;color:#3a87ad}.alert-success,.alert-danger,.alert-error,.alert-info{text-shadow:0 1px 0 rgba(255,255,255,0.5)}.alert-danger,.alert-error{border-color:#d59595;color:#b94a48}

.w100{ width:100px;}.w150{ width:150px;}.w250{ width:250px;}
.wb80{ width:80%;}
.lh30{ line-height:30px}

.board{background:url("../img/bg_repno.gif") no-repeat scroll 0 0 transparent;padding-left:55px}

.btn-default-iq{ line-height:34px; height:34px; margin-top:0px; margin-left:-5px; padding-top:0px;}
#_searchBox_data_list{ min-height:200px; padding-bottom:10px;}
#_searchBox_data_list li{ line-height:23px; border-bottom:1px dotted #ccc; padding-top:5px; cursor:pointer;}

.radio-inline{ line-height:20px !important; height:30px; padding-right:5px !important; }
.radio{ line-height:20px !important; height:30px;}
.txt_center{text-align:center;}
.tab-pane{
	overflow-x:hidden;
}
input[disabled],select[disabled],textarea[disabled],input[readonly],select[readonly],textarea[readonly]{cursor:not-allowed;background-color:#eee}input[type="radio"][disabled],input[type="checkbox"][disabled],input[type="radio"][readonly],input[type="checkbox"][readonly]{background-color:transparent}
.control-group,.form-group{ position:relative;}

.purview_box{ border-bottom:1px dotted #999;}
.purview_box label{line-height:30px; height:30px; margin-right:10px; min-width:80px;}
.purview_box strong{ font-size:14px;}


.th-sortable .fa{font-size: 14px;}

.sel-color{
	width: 50px;
	height: 30px;
	border: 1px solid #fff;
	border-radius: 4px;
	background-color:#fff;
	text-indent: 50px;;
}

.modal-dialog .modal-body{
	max-height:350px; overflow:auto;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{padding-left: 0px;}



/* 上传相关 */
.file-item {
float: left;
margin: 0 20px 20px 0;
padding: 4px;
position: relative;
min-height:110px;
margin:0px !important;
min-width:110px;
}
.file-item  .info{background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
bottom: 4px;
color: #fff !important;
font-size: 12px;
height: 20px;
left: 4px;
line-height: 20px;
overflow: hidden;
position: absolute;
right: 4px;
text-indent: 5px;
text-overflow: ellipsis;
white-space: nowrap;
z-index: 10; text-align:center;}
.uploader .file-item {width: 110px;}

.uploader_design .file-item {width: 300px;}
.uploader_design img{max-width: 300px;}

.file-item .error {background: red none repeat scroll 0 0;
color: #fff !important;
font-size:13px;
height:20px;
left:4px;
line-height: 23px;
position: absolute;
right:4px;
text-align: center;
top:2px;}
.file-item .upload-file{
	min-width:80px;
	min-height:80px;
	background-size:100%;
	background-repeat:no-repeat;
}
.file-item .upload-file .webuploader-pick{
	min-width:110px;
	min-height:110px;
	opacity:0;
}

.specificationstable td{position:relative;}
.specificationstable td .help-block{position:absolute; top:0px;}

.specificationstable .file-item,.specificationstable .file-item .upload-file {
width: 90px !important;
min-width: 90px !important; 
height:90px !important;
min-height:90px !important;
}
.specificationstable .file-item .upload-file{
	background-size:88% !important;
}
.specificationstable .webuploader-pick{
	min-width:80px !important;
	min-height:80px !important;
	opacity:0;
}

.trselect{
	background: #428bca !important;
	color:#FFF;
}
.trselect td{background: #428bca !important;}

/* sys_admin */
.table-responsive .single-line {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}