<table class="table  table-hover  m-b-none">
<thead>
<tr>
    <th width="160" class="th-sortable" data-sort-name="change_time">变动时间</th>
    <th>变动原因</th>
    <th width="200">帐户余额(金币)/变更后</th>
    <th width="200">消费积分/变更后</th>
    <th width="200">历史总佣金/变更后</th>
    <th width="200">历史总积分/变更后</th>
   
</tr>
</thead>
<tbody>
{volist name="data.list" id="row" }
<tr>
<td align="center">{$row.change_time|dateTpl}</td>
<td>
    {eq name="row.change_type" value="1"} <i class="fa fa-laptop text-muted"></i>人工调整：{/eq}
    {$row.change_desc}
    {if condition="$row.change_type == 10"}
        <a href="{:url('distribution/sys_admin.order/info',['order_id'=>$row['by_id']])}" target="_blank" >【查看身份订单】</a>
    {else/}
        <a href="{:url('shop/sys_admin.order/info',['order_id'=>$row['by_id']])}" target="_blank" class="{:in_array($row['change_type'],[2,3,4])?'':'hide'}">【查看订单】</a>
    {/if}
</td>
<td style="{$row['balance_money']>0?'color:#F00;':''}{$row['balance_money']<0?'color:#390;':''}">{$row.balance_money} / {$row['balance_money']+$row['old_balance_money']}</td>
<td  style="{$row['use_integral']>0?'color:#F00;':''}{$row['use_integral']<0?'color:#390;':''}">{$row.use_integral} / {$row['use_integral']+$row['old_use_integral']}</td>
<td style="{$row['total_dividend']>0?'color:#F00;':''}{$row['total_dividend']<0?'color:#390;':''}">{$row.total_dividend} / {$row['total_dividend']+$row['old_total_dividend']}</td>
<td  style="{$row['total_integral']>0?'color:#F00;':''}{$row['total_integral']<0?'color:#390;':''}">{$row.total_integral} / {$row['total_integral']+$row['old_total_integral']}</td>
</tr>
{/volist}
</tbody>
</table>
{empty name="data.list"}
<table width="100%" >
 	<tr><td height="300" colspan="8" align="center" valign="middle" >没有相关数据！</td></tr>
</table>
{/empty}