<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="__STATIC__/mobile/default/css/layout.css?v=2"/>
    <link rel="icon" type="image/png" href="__STATIC__/favicon.ico"/>
    <script src="__STATIC__/js/jquery/jquery/2.1.4/jquery.min.js"></script>
    <script src="__STATIC__/mobile/default/js/page.js?v=1"></script>
    <title>{$title}  - {$setting.shop_title}</title>
    {block name="head"}{/block}
      <!-- <script type="text/javascript">
          (function (w, d, s, i, v, j, b) {
              w[i] = w[i] || function () {
                      (w[i].v = w[i].v || []).push(arguments)
                  };
              j = d.createElement(s),
                  b = d.getElementsByTagName(s)[0];
              j.async = true;
              j.charset = "UTF-8";
              j.src = "https://www.v5kf.com/164453/v5kf.js";
              b.parentNode.insertBefore(j, b);
          })(window, document, "script", "V5CHAT");
          {notempty name="userInfo" }
          V5CHAT('openId', 'user_{$userInfo.user_id}');
          V5CHAT('nickname', '{$userInfo.nick_name}');
          V5CHAT('metadata', [
              {key: '客户等级', val: '{$userInfo['role_id']>0?$userInfo['role']['role_name']:'粉丝'}'},
              {key: '客户ID', val: '{$userInfo.user_id}'},
              {key: '客户手机', val: '{$userInfo.mobile}'}
          ]);
          {/notempty}
      </script> -->
      <style>#v5btn,.v5-btn{
          top: 8%;
          left: 80%!important;
          display: none !important;
      }
      img{
        max-width: 100%;
      }
      </style>
</head>
<body {block name="body"}{/block}>
  <div class="page {block name='pageType'}{/block}">
  {empty name="not_top_nav"}
  		<div class="page-hd">
            <div class="header base-header bor-1px-b">
                <div class="header-left">
                    <a href="javascript:history.go(-1)" class="left-arrow"></a>
                </div>
                <div class="header-title">{$title}</div>
                <div class="header-right">
                    <!-- <a href=""></a> -->
                </div>
            </div>
        </div>
   {/empty}     
   {block name="main"}{/block}
  </div>

<script src="__STATIC__/js/art-template.js"></script>
<!--<script src="__STATIC__/mobile/default/js/lib/fastclick.js"></script>-->
  <script src="__STATIC__/js/jquery/jquery-weui.min.js"></script>
<script src="__STATIC__/js/jquery/lazyload/jquery.lazyload.js"></script>
<script>
    $(function() {
        FastClick.attach(document.body);
		$("img.lazy").lazyload({effect:"fadeIn",event:"scroll",container:$(".page-bd")});		
    });
</script>
{block name="footer"}{/block}
  <div class="alertBox">
      <div class="alertBG"></div>
      <div class="alert">
          <div class="text fs30 color_3 bor_b">

          </div>
          <!-- 单按钮 -->
          <div class="button fs32 fw_b color_r">
              知道了
          </div>
          <!-- 双按钮 -->
          <div class="buttonBox fs32 fw_b">
              <span class="color_9 bor_r cancel">取消</span>
              <span class="color_r confirm">确定</span>
          </div>
      </div>
  </div>
  {notempty name="wxShare"}
  <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  <script type="text/javascript">
      window.shareData = {
          "imgUrl": "{:getUrl($wxShare.img,'img')}",
          "Link": "{$wxShare.shareUrl}",
          "tTitle": "{$wxShare.title}",
          "tContent": '{$wxShare.description}'
      };

      wx.config({
          debug: false,
          appId: '{$wxShare.appId}',
          timestamp: {$wxShare.timestamp},
          nonceStr: '{$wxShare.nonceStr}',
          signature: '{$wxShare.signature}',
          jsApiList: [
              // 所有要调用的 API 都要加到这个列表中
              'onMenuShareTimeline',
              'onMenuShareAppMessage',
              'onMenuShareQQ',
              'onMenuShareWeibo',
          ]
      });
      wx.ready(function () {

          // 分享到朋友圈
          wx.onMenuShareTimeline({
              title: window.shareData.tTitle, 		// 分享标题
              link: window.shareData.Link, 		// 分享链接
              imgUrl: window.shareData.imgUrl, 	// 分享图标
              success: function () {
                  // 用户确认分享后执行的回调函数
                 // alert('分享成功');
              },
              cancel: function () {
                  // 用户取消分享后执行的回调函数
                  //alert('取消分享成功');
              }
          });
          // 分享给朋友
          wx.onMenuShareAppMessage({
              title: window.shareData.tTitle, 		// 分享标题
              link: window.shareData.Link, 		// 分享链接
              imgUrl: window.shareData.imgUrl, 	// 分享图标
              desc: window.shareData.tContent, 		// 分享描述
              type: '', 					// 分享类型,music、video或link，不填默认为link
              dataUrl: '', 				// 如果type是music或video，则要提供数据链接，默认为空
              success: function () {
                  // 用户确认分享后执行的回调函数
                  // alert('分享成功');
              },
              cancel: function () {
                  // 用户取消分享后执行的回调函数
                  // alert('取消分享成功');
              }
          });
          // 分享到QQ
          wx.onMenuShareQQ({
              title: window.shareData.tTitle, 		// 分享标题
              link: window.shareData.Link, 		// 分享链接
              imgUrl: window.shareData.imgUrl, 	// 分享图标
              desc: window.shareData.tContent, 		// 分享描述
              success: function () {
                  // 用户确认分享后执行的回调函数
                  // alert('分享成功');
              },
              cancel: function () {
                  // 用户取消分享后执行的回调函数
                  // alert('取消分享成功');
              }
          });
          // 分享到腾讯微博
          wx.onMenuShareWeibo({
              title: window.shareData.tTitle, 		// 分享标题
              link: window.shareData.Link, 		// 分享链接
              imgUrl: window.shareData.imgUrl, 	// 分享图标
              desc: window.shareData.tContent, 		// 分享描述
              success: function () {
                  // 用户确认分享后执行的回调函数
                  // alert('分享成功');
              },
              cancel: function () {
                  // 用户取消分享后执行的回调函数
                  // alert('取消分享成功');
              }
          });
      });
  </script>
  {/notempty}
</body>
</html>