<div class="bottom-tabbar-wrapper">
    <div class="bottom-tabbar">
        <a href="{:url('ddkc/trade/index')}" class="bottom-tabbar__item {$routeUri=='trade/index'?'active':''}">
              <span class="icon">
                <img src="__STATIC__/dingding//images/bottom_icon01.png" />
                <img class="lhimg" src="__STATIC__/dingding//images/bottom_icon01_lh.png" />
              </span>
            <p class="label">叮叮市场</p>
        </a>
        <a href="{:url('ddkc/miner/index')}" class="bottom-tabbar__item {$routeUri=='miner/index'?'active':''}">
              <span class="icon">
                <img src="__STATIC__/dingding//images/bottom_icon02.png" />
                <img class="lhimg" src="__STATIC__/dingding//images/bottom_icon02_lh.png" />
              </span>
            <p class="label">DDB矿场</p>
        </a>
        <a href="{:url('ddkc/information/index')}" class="bottom-tabbar__item  {$routeUri=='information/index'?'active':''}">
              <span class="icon">
                <img src="__STATIC__/dingding//images/bottom_icon03.png" />
                <img class="lhimg" src="__STATIC__/dingding//images/bottom_icon03_lh.png" />
              </span>
            <p class="label">服务快讯</p>
        </a>
        <a href="{:url('ddkc/center/index')}" class="bottom-tabbar__item {$routeUri=='center/index'?'active':''}">
              <span class="icon">
                <img src="__STATIC__/dingding//images/bottom_icon04.png" />
                <img class="lhimg" src="__STATIC__/dingding//images/bottom_icon04_lh.png" />
              </span>
            <p class="label">个人中心</p>
        </a>
        <a href="{:url('ddkc/center/trade_img')}" class="bottom-tabbar__item {$routeUri=='center/trade_img'?'active':''}">
              <span class="icon">
                <img src="__STATIC__/dingding//images/bottom_icon05.png" />
                <img class="lhimg" src="__STATIC__/dingding//images/bottom_icon05_lh.png" />
              </span>
            <p class="label">叮叮交易所</p>
        </a>
    </div>
</div>