

{if condition="$row['supplyer_id'] == 0 && $row['store_id'] == 0" }
<div class="form-group">
    <label class="col-sm-2 control-label">上架时间：</label>
    <div class="col-sm-10" >
        <label class="radio" style="padding-left:20px; width:200px;">
            <input type="radio" name="isputaway" value="1"  {$row.isputaway|tplckval='=1','checked',true}  />立即上架
        </label>
         <label class="radio" style="padding-left:20px;width:200px;">
            <input type="radio" name="isputaway"   value="0" {$row.isputaway|tplckval='=0','checked'} >暂不上架，放入仓库中
        </label>
        <label class="radio" style="padding-left:20px;width:200px;">
                <input type="radio" name="isputaway" value="2" {$row.isputaway|tplckval='=2','checked'}/>设定商品上下架时间
         </label>


        <div class="col-sm-1" style="width:70px;padding:0; margin:0;">
            <label style="padding:0;margin:0;">上架时间</label>
        </div>
        <div class="col-sm-3"  style="width:180px;padding:0; margin:0;">
            <div class="input-group"> <input type="text" class="input-max" name="added_time" readonly="readonly" value="{$row.added_time|dateTpl='Y-m-d H:i',true}" data-before="#solddate"   data-toggle="datetimepicker" /><span class="input-group-addon"><i class="fa fa-calendar"></i></span></div>
        </div>
         <div class="col-sm-1" style="width:70px;margin:0; margin-left:10px;">
            <label style="padding:0;margin:0;">下架时间</label>
        </div>
        <div class="col-sm-3"  style="width:180px;padding:0; margin:0;">
            <div class="input-group"> <input type="text" class="input-max" name="shelf_time" value="{$row.shelf_time|dateTpl='Y-m-d H:i',true}" data-after="#groundingdate" data-offsetday="0"  readonly="readonly" data-toggle="datetimepicker" /><span class="input-group-addon"><i class="fa fa-calendar"></i></span></div>
        </div>

    </div>
</div>
{/if}
<div class="line line-dashed line-lg pull-in"></div>

<div class="form-group">
    <label class="col-sm-2 control-label">加入推荐：</label>
    <div class="col-sm-6">
		<label class="radio inline">
            <input type="checkbox" name="is_best" value="1" {$row.is_best|tplckval='=1','checked'}> 推荐（优先首页猜你喜欢显示）
        </label><br />
       <label class="radio inline">
            <input type="checkbox" name="is_new" value="1" {$row.is_new|tplckval='=1','checked'}> 新品
        </label><br />
        <label class="radio inline">
            <input type="checkbox" name="is_hot" value="1" {$row.is_hot|tplckval='=1','checked'}> 热销（优先首页分类显示）
        </label>
    </div>
</div>


<div class="form-group">
    <label class="col-sm-2 control-label">商品标签：</label>
    <div class="col-sm-6">
        {foreach name="tagList" item="vo"}
        <label class="radio inline">
            <input type="radio" name="tag_id" value="{$vo.id}" {$vo.id==$row.tag_id?"checked":""}> {$vo.title}
        </label>&nbsp;&nbsp;
        {/foreach}
    </div>
</div>


<div class="form-group">
    <label class="col-sm-2 control-label">虚拟销量：</label>
    <div class="col-sm-5">

        <div class="input-group">
            <input type="text" class="input-mini" name="virtual_sale" data-rule-min="0"  data-rule-number="true"  value="{:intval($row['virtual_sale'])}">
             <span class="help-inline">+ {$row.sale_num|intval}，前端显示：虚拟销售量 + 真实销量</span>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">虚拟收藏：</label>
    <div class="col-sm-5">

        <div class="input-group">
            <input type="text" class="input-mini" name="virtual_collect" data-rule-min="0"  data-rule-number="true"  value="{:intval($row['virtual_collect'])}">
             <span class="help-inline">+ {$row.sale_num|intval}，前端显示：虚拟收藏量 + 真实收藏量</span>
        </div>
    </div>
</div>



<div class="line line-dashed line-lg pull-in"></div>

<div class="form-group">
    <label class="col-sm-2 control-label">关键字：</label>
    <div class="col-sm-6" >
        <input type="text" class="input-max" data-rule-maxlength="40" name="keywords" value="{$row.keywords}" >
    </div>
    <span class="help-inline">用空格分隔</span>
</div>
<div class="form-group">
      <label class="col-sm-2 control-label">商品简单描述：</label>
      <div class="col-sm-8">
        <textarea name="description"  style=" width:80%; height:100px;">{$row.description}</textarea>
      </div>
</div>
