<script type="text/html" id="selGoods_tpl"> 
<div class="m-b">
      <select name="_cat_id" id="_cat_id" class="m-r" style="width:150px;" data-toggle="select2"  >
         <option value="">所有商品分类</option>
           
       </select>
    
     <button class="btn btn-default-iq fa fa-search" title="搜索" type="button" onclick="searchGoods()" ></button>
 
      <select name="sel_goods" id="sel_goods" class="m-r" style="width:250px;" data-toggle="select2" >
         <option value="">选择商品</option>
      </select>

    <a href="javascript:;" title="增加" class="btn btn-default-iq fa fa-plus" onclick="selLinkGoods()"></a>
</div>


	<table class="table table-bordered table-striped " style="width:800px;">
        <thead>
            <tr>
                <th width="150">商品SN</th>
                <th>商品名称</th>
                <th width="70">操作</th>
            </tr>
        </thead>
        <tbody id="linkGoodsBox">
            <tr id="link_goods_tr_{$lg.goods_id}">
                <td>{$lg.goods_sn}<input name="link_goods_id[]" type="hidden" value="{$lg.goods_id}" /></td>
                <td>{$lg.goods_name}</td>
                <td><a href="javascript:;" title="删除" class="fa fa-remove m-xs" onclick="delLinkGoods({$lg.goods_id})" ></a></td>
            </tr>
         
        </tbody>
    </table>
</div>   
</script>
<script type="text/javascript">
function searchGoods(){
	var arr = new Object();
	arr.cat_id = $('#_cat_id').val();
	arr.min_search = 1;
	$('#sel_goods').html('<option value="">选择商品</option>');
	var res = jq_ajax('{:url("search")}',arr);
	$.each(res._list, function(i,value){
		$('#sel_goods').append('<option value="'+value.goods_id+'" _goodsSn="'+value.goods_sn+'">'+value.goods_name+'</option>');
	})
}
function selLinkGoods(){
	var goods_id = $('#sel_goods').val();
	if (goods_id < 1) return false;
	var isrep = false;
	$('#linkGoodsBox').find('input').each(function(){
		if (goods_id == $(this).val()) return isrep = true;
	})
	if (isrep == true) return alert('列表中已存在相关商品');
	var goods_name = $('#sel_goods').find("option:selected").text();
	var goods_sn = $('#sel_goods').find("option:selected").attr('_goodsSn');
	$('#linkGoodsBox').append('<tr id="link_goods_tr_'+goods_id+'"><td><input name="link_goods_id[]" type="hidden" value="'+goods_id+'" /></td>'
						+'<td>'+goods_sn+'</td><td>'+goods_name+'</td>'
						+'<td><a href="javascript:;" title="删除" class="fa fa-remove m-xs" onclick="delLinkGoods('+goods_id+')" ></a>'
						+'</td></tr>');
}
function delLinkGoods(goods_id){
	$('#link_goods_tr_'+goods_id).remove();
}
</script>