{extend name="mainadmin@layouts/base" /}
{block name="head" }
<link href="__STATIC__/main/css/stylesheets/uploadify/uploadify.min.css" rel="stylesheet"/>
<link href="__STATIC__/main/css/stylesheets/page/goods.css?v=1" rel="stylesheet"/>
{/block}
{block name="main" }

<header class="header  b-b clearfix">
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-ellipsis-v"></i>
                <strong>收款详情</strong>
            </li>                                  
        </ul>
        <a class="text-muted pull-right m-r-tm m-t-md pointer" data-toggle="back" title="返回"><i class="fa fa-reply"></i></a>
    </div>
</header>
<section class="scrollable  wrapper">
    <form class="form-horizontal form-validate" method="post" action="{:url('info')}" style="padding:0;">
        <section class="panel panel-default">
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">编号：</label>
                                    <div class="col-sm-5 form-control-static">
                                        {$row.id}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">用户信息：</label>
                                    <div class="col-sm-5 form-control-static">
                                        <a href="{:url('member/sys_admin.users/info',['user_id'=>$row['user_id']])}" target="_blank">{$row.user_id}-{$row.user_id|userInfo}</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">添加时间：</label>
                                    <div class="col-sm-5 form-control-static">
                                        {$row.add_date}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">收款类型：</label>
                                    <div class="col-sm-5 form-control-static">
                                        {$row.type_name}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                {if condition="$row.type eq 1"}
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">银行卡名称：</label>
                                        <div class="col-sm-5 form-control-static">
                                            {$row.bank_name}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">支行：</label>
                                        <div class="col-sm-5 form-control-static">
                                            {$row.sub_branch}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">银行卡卡号：</label>
                                        <div class="col-sm-5 form-control-static">
                                            {$row.card_number}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">用户姓名：</label>
                                        <div class="col-sm-5 form-control-static">
                                            {$row.bank_user_name}
                                        </div>
                                    </div>
                                {elseif condition="$row.type eq 2" /}
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">支付宝账号：</label>
                                        <div class="col-sm-5 form-control-static">
                                            {$row.alipay_number}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">支付宝收款码：</label>
                                        <div class="col-sm-5 form-control-static">
                                            <a href="{$row.alipay_payment_code}" target="_blank">
                                                <img src="{$row.alipay_payment_code}" style="width: 10rem">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">支付宝姓名：</label>
                                        <div class="col-sm-5 form-control-static">
                                            {$row.alipay_user_name}
                                        </div>
                                    </div>
                                {elseif condition="$row.type eq 3" /}
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">微信账号：</label>
                                        <div class="col-sm-5 form-control-static">
                                            {$row.wx_number}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">微信收款码：</label>
                                        <div class="col-sm-5 form-control-static">
                                            <a href="{$row.wx_payment_code}" target="_blank">
                                                <img src="{$row.wx_payment_code}" style="width: 10rem">
                                            </a>
                                        </div>
                                    </div>
                                {/if}                        
                            </div>
                        </div>
                    </div>
                    {if condition="$row.status eq 0"}
                    <div class="col-sm-4 col-sm-offset-2">
                        <button type="button" class="btn btn-primary"  onclick="examine(1,{$row.id});" data-loading-text="保存中...">审核通过</button>
                        <button type="button" class="btn btn-default" onclick="examine(2,{$row.id});" >审核失败</button>
                    </div>
                    {/if}
                </div>
            </div>
        </section>
        <input name="id" type="hidden" value="{$row.id|intval}">
    </form>
</section>
{/block}
{block name="footer" }
<script type="text/javascript">
    seajs.use(["dist/plupload/init.js"]);
    function examine(type,id){
        if(type==1){
            var str = '你确定要审核通过吗?';
        }else{
            var str = '你确定要审核失败吗?';
        }
            layer.confirm(str, {icon: 3, title:'提示'}, function(index){
                $.ajax({
                    'url':'{:url("examine")}',
                    'type':'post',
                    'data':{'id':id,'type':type},
                    'dataType':'json',
                    'success':function(data){
                        if(data.code==1){
                            layer.msg(data.msg,function(){
                                window.location.href='{:url("index")}';
                            });
                        }else{
                            layer.msg(data.msg);
                        }
                    }
                });
            });
    }
</script>
{/block}

