<table class="table table-bordered  table-hover">
<thead class="flip-content bordered-palegreen">
<thead>
<tr>
    <th width="50">LOGID</th>
    <th width="120">操作用户ID</th>
    <th width="120">操作用户名</th>
    <th width="150">操作时间</th>
    <th width="120">操作IP</th>
    <th width="120">影响数据ID</th>
    <th>记录</th>
    <th width="60">操作</th>
</tr>
</thead>
<tbody>

{volist name="data.list" id="vo" }

<tr>
    <td>{$vo.log_id}</td>
    <td>{$vo.user_id}</td>
    <td>{$vo.user_id|adminInfo}</td>
    <td>{$vo.log_time|dateTpl}</td>
	<td>{$vo.log_ip}</td>
    <td>{$vo.edit_id}</td>
    <td>{$vo.log_info}</td>
    <td><a href="{:url('sys_admin.users/info',array('user_id'=>$vo['edit_id']))}" class="m-xs" title="查看会员信息">
    <i class="fa fa-search"></i>
</a></td>
</tr>

{/volist} 
</tbody>
</table>
{empty name="data.list"}
<table width="100%" >
 	<tr><td height="300" colspan="8" align="center" valign="middle" >没有相关数据！</td></tr>
</table>
{/empty}  