{extend name="mainAdmin@layouts/base" /}
{block name="head" }
<link href="__STATIC__/main/css/stylesheets/uploadify/uploadify.min.css" rel="stylesheet"/>
<link href="__STATIC__/main/css/stylesheets/page/goods.css?v=1" rel="stylesheet"/>
{/block}
{block name="main" }

<header>
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-ellipsis-v"></i>
                <strong>{$row['id'] ? '编辑评论' : '添加评论'}</strong>
            </li>
        </ul>

        <a class="pull-right pointer p-r" data-toggle="back" title="返回"><i class="fa fa-reply"></i></a>
    </div>
</header>

<section class="scrollable wrapper">
    <form class="form-horizontal form-validate" method="post" action="">

        <input name="id" type="hidden" value="{$row['id']}">

        {if condition="$admin"}
        <div class="form-group">
            <label class="col-sm-2 control-label">评论管理员</label>
            <div class="col-sm-10">
                <label>
                    {$admin.user_name}
                    <a class="btn-xs m-xs" href="{:url('mainadmin/admin_user/info', ['user_id' => $admin['user_id']])}">
                        <i class="fa fa-search text-muted"></i> 查看
                    </a>
                </label>
            </div>
        </div>
        {/if}

        <div class="form-group">
            <label class="col-sm-2 control-label">商品分类</label>
            <div class="col-sm-4 must">
                <select name="category_id" style="width:100%;" data-toggle="select2">
                    <option value="">请选择商品分类</option>
                    {$goodsCategoryListHtml|raw}
                </select>
            </div>
        </div>

        <div class="line line-dashed line-lg pull-in"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-4">
                <input type="text" class="input-max" data-rule-maxlength="35" name="user_name" value="{$row.user_name}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">用户头像</label>
            <div class="col-sm-10">
                <div class="js_upload_container">
                    <div class="js_file_upload">
                        <button type="button" class="btn btn-default js_new_upload" data-submitname="headimgurl" data-count="1" data-uploadpath="{:url('mainAdmin/attachment/upload')}" style="position: relative; z-index: 1;">选择图片</button>
                    </div>
                    <div class="uploadify-queue js_file_upload_queue"></div>
                    <ul class="ipost-list ui-sortable js_fileList" data-required="true">
                        {volist name="images" id="image"}
                        <li class="imgbox">
                            <a class="item_new_close item_close" href="javascript:" title="删除"></a>
                            <span class="item_box"><img src="{$image}" alt=""></span>
                        </li>
                        {/volist}
                    </ul>
                </div>
            </div>
        </div>

        <div class="line line-dashed line-lg pull-in"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label">评论内容</label>
            <div class="col-sm-4 must">
                <textarea class="input-max" name="content" data-rule-maxlength="500" data-rule-required="true">{$row.content}</textarea>
            </div>
        </div>

        <div class="line line-dashed line-lg pull-in" style="width:99%;"></div>
        <div class="form-group" style="width:90%;">
            <div class="col-sm-4 col-sm-offset-2">
                <button type="submit" class="btn btn-primary js_save_submit" data-loading-text="保存中...">保存</button>
                <button type="button" class="btn btn-default" data-toggle="back">取消</button>
            </div>
        </div>

    </form>
</section>

{/block}

{block name="footer" }
<script type="text/javascript">
    seajs.use(["dist/plupload/init.js"])
</script>
{/block}