<div class="fui-searchbar bar" style="z-index: 0;">
    <div class="searchbar" style="background: {$diyInfo.style.background}; padding: {$diyInfo.style.paddingtop}px {$diyInfo.style.paddingleft}px;">
        <form action="{if condition="$diyInfo.params.goodstype == 1"}{:url('integral/goods/index')}{else/}{:url('shop/goods/index')}{/if}" method="post" style="position: relative;left:0;top:0;">
            <input type="submit" class="searchbar-cancel searchbtn" value="搜索" style="top: 0; right: 0" />
            <div class="search-input {$diyInfo.style.searchstyle}" style="background: {$diyInfo.style.inputbackground};">
                <i class="icon icon-search " style="color: {$diyInfo.style.iconcolor};"></i>
                <input type="search" placeholder="{$diyInfo.params.placeholder}" class="search " name="keyword"
                       style="text-align: {$diyInfo.style.textalign|default='left'}; color: {$diyInfo.style.color}; background: none;" />
            </div>
        </form>
    </div>
</div>
