.top .dataBox {
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding: 0 0.266667rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  height: 0.866667rem;
}

.top .dataBox .left {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
}

.top .dataBox .left input {
  margin-bottom: 0.026667rem;
}

.top .dataBox img {
  width: 0.266667rem;
  height: 0.266667rem;
}

.top .title {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  padding: 0 0.266667rem;
  height: 0.6rem;
  background: #f8f8f8;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.top .title div {
  height: 100%;
  width: 0.266667rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.top .title img {
  width: 0.133333rem;
}

.list {
  padding: 0.133333rem 0;
  background-color: #fff;
}

.list .cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  height: 0.8rem;
  padding: 0 0.266667rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.list .cell .left p {
  margin-bottom: 0.026667rem;
}

label > * {
  pointer-events: none;
}

.model {
  display: none;
  position: fixed;
  top: 1.986667rem;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
}

.model .modelBg {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.model .modelbd {
  padding: 0.133333rem 0;
  background-color: #fff;
  position: relative;
  z-index: 888;
}

.model .modelbd label {
  height: 0.666667rem;
  padding: 0 0.266667rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

label {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  touch-action: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

label .check {
  position: absolute;
  left: -9999em;
}

label .iconBox {
  position: relative;
}

label .check[type=radio] + i {
  display: inline-block;
  vertical-align: middle;
  font: normal normal normal 0.093333rem/1 weui;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

label .check + i:after {
  font-size: 0.24rem;
  display: block;
}

label .check[type=radio]:checked + i:after {
  content: "\EA08";
  color: #f65236;
}