.inputBlock {
  height: 1.333333rem;
  background-color: #fff;
  padding: 0 0.266667rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.inputBlock .tips {
  position: absolute;
  top: 0.386667rem;
  z-index: 0;
}

.inputBlock input {
  margin-top: 0.4rem;
  position: relative;
  z-index: 99;
  height: auto;
  line-height: normal;
  width: 3.333333rem;
}

.inputBlock span {
  margin-top: 0.4rem;
  display: none;
}

.money {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  padding: 0 0.266667rem 0.2rem;
  background-color: #fff;
  overflow: hidden;
  width: 100%;
}

.money div {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.money P {
  width: 0.853333rem;
  height: 0.306667rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.paytype {
  margin-top: 0.133333rem;
  background-color: #fff;
  padding-bottom: 0.2rem;
}

.paytype .title {
  padding: 0 0.266667rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  height: 0.866667rem;
}

.paytype .cantre {
  width: 100%;
  padding: 0 0.2rem 0 0.266667rem;
}

.paytype .cantre .block {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  height: 0.733333rem;
}

.paytype .cantre .block .payType {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.paytype .cantre .block .payType img {
  width: 0.266667rem;
  height: 0.266667rem;
  margin-right: 0.133333rem;
}

.paytype .cantre .block .payType img div {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

label > * {
  pointer-events: none;
}

label {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  touch-action: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

label .check {
  position: absolute;
  left: -9999em;
}

label .iconBox {
  position: relative;
}

label .check[type=radio] + i {
  display: inline-block;
  vertical-align: middle;
  font: normal normal normal 0.093333rem/1 weui;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

label .check + i:after {
  content: "\EA01";
  color: #c9c9c9;
  font-size: 0.293333rem;
  display: block;
  margin: 0 1px;
}

label .check[type=radio]:checked + i:after {
  content: "\EA06";
  color: #f65236;
}

.uploading {
  background-color: #fff;
  display: none;
}

.uploading .title {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  height: 0.666667rem;
  padding: 0 0.266667rem;
}

.uploading .uploadBox {
  padding: 0.066667rem 0.266667rem 0.306667rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.uploading .uploadBox .Box {
  position: relative;
  width: 1.2rem;
  height: 1.2rem;
  border: 0.013333rem dashed #eeeeee;
  margin-right: 0.186667rem;
}

.uploading .uploadBox .Box .imgBox {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  margin: -0.013333rem 0 0 -0.013333rem;
}

.uploading .uploadBox .Box .closeImg {
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  top: -0.093333rem;
  right: -0.093333rem;
}

.uploading .uploadBox .Box input {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.button {
  width: 4.466667rem;
  margin: 0.266667rem 0.3rem;
  height: 0.533333rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}