.top {
  height: 2.4rem;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.top img {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  margin-top: 0.333333rem;
}

.top div {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  margin-top: 0.066667rem;
}

.top div i {
  width: 0.4rem;
  margin-left: 0.066667rem;
  text-align: center;
}

.top p {
  margin-top: 0.026667rem;
}

.top em {
  margin-top: 0.08rem;
  width: 0.6rem;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.moneyInfo {
  background-color: #fff;
  padding: 0.293333rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.moneyInfo div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
  padding-left: 0.266667rem;
  height: 1.013333rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.fansInfo {
  margin: 0.133333rem 0 0.2rem;
  background-color: #fff;
}

.fansInfo .cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  height: 0.666667rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  padding: 0 0.266667rem;
}

.fansInfo .cell div {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin-top: 0.053333rem;
}