.fenlei .top {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  padding: 0.2rem;
  background-color: #fff;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  z-index: 999;
}

.fenlei .top .inputBox {
  width: 100%;
  height: 0.4rem;
  background: #f4f4f4;
  padding: 0 0.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.fenlei .top .inputBox img {
  width: 0.226667rem;
  height: 0.226667rem;
  margin-right: 0.133333rem;
}

.fenlei .top .inputBox input {
  width: 90%;
}

.fenlei .top input::-webkit-input-placeholder {
  color: #999;
  letter-spacing: normal;
  font-weight: 400;
  font-size: 0.2rem;
}

.fenlei .left {
  width: 22.666vw;
  background-color: #fff;
  bottom: 0.133333rem;
  left: 0;
  top: 0.8rem;
  position: absolute;
  z-index: 99;
  overflow-y: scroll;
  overflow-x: hidden;
}

.fenlei .left .box {
  width: 100%;
  height: 0.6rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.fenlei .left .boxActive {
  position: relative;
  font-weight: bold;
  color: #f65236;
  background-color: #fff;
}

.fenlei .right {
  width: 100%;
  background-color: #fff;
  bottom: 0.133333rem;
  left: 0;
  padding-left: 22.666vw;
  top: 0.8rem;
  position: absolute;
  padding-bottom: 0.066667rem;
}

.fenlei .right .rightBox {
  margin-bottom: 0.133333rem;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  display: none;
}

.fenlei .boxActive::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  color: #eeeeee;
  height: 200%;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.fenlei .boxActive::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0.22rem;
  width: 200%;
  border-left: 6px solid #f65236;
  color: #f65236;
  height: 0.32rem;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.fenlei .bor_R::before {
  content: " ";
  position: absolute;
  left: 99.2%;
  top: 0;
  height: 1px;
  border-left: 1px solid #eeeeee;
  color: #eeeeee;
  height: 200%;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.fenlei .block {
  margin-left: 0.2rem;
}

.fenlei .block .title {
  height: 0.186667rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  padding-right: 0.2rem;
  margin: 0.226667rem 0 0.266667rem;
}

.fenlei .block .title span {
  margin: 0 0.066667rem;
}

.fenlei .block .title i {
  width: 0.106667rem;
  height: 0.026667rem;
  background: #333333;
}

.fenlei .block .list {
  overflow: hidden;
}

.fenlei .block .list a {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  margin-right: 0.133333rem;
  float: left;
}

.fenlei .block .list img {
  width: 1.066667rem;
  height: 1.066667rem;
}

.fenlei .block .list span {
  margin: 0.133333rem 0;
}

.sousuo .top {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  padding: 0.2rem;
  background-color: #fff;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.sousuo .top .inputBox {
  width: 4rem;
  height: 0.4rem;
  background: #f4f4f4;
  padding: 0 0.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.sousuo .top .inputBox img {
  width: 0.226667rem !important;
  height: 0.226667rem;
}

.sousuo .top .inputBox input {
  margin-left: 0.133333rem;
  width: 90%;
}

.sousuo .top input::-webkit-input-placeholder {
  color: #999;
  letter-spacing: normal;
  font-weight: 400;
  font-size: 0.2rem;
}

.sousuo .history {
  background-color: #fff;
  padding: 0.2rem;
}

.sousuo .history .title {
  height: 0.613333rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  margin-bottom: 0.066667rem;
}

.sousuo .history .list {
  overflow: hidden;
}

.sousuo .history .list span {
  width: 1.466667rem;
  height: 0.466667rem;
  background: #f4f4f4;
  margin-bottom: 0.106667rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  margin-right: 0.1rem;
  float: left;
}

.sousuo .history .list span:nth-child(3n) {
  margin-right: 0;
}

.sousuo .hot {
  margin-top: 0.133333rem;
}

.sousuo .hot .twe {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.sousuo .hot p {
  width: 2.253333rem;
  height: 0.466667rem;
  background: #faf6f5;
  margin-bottom: 0.106667rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  margin-right: 0.093333rem;
  color: #F65236;
  float: left;
}

.sousuo .hot .list span {
  margin-right: 0.1rem;
}

.sousuo .hot p:nth-child(2) {
  margin-right: 0;
}