.goodsBox {
  margin-top: 0.133333rem;
  padding: 0.133333rem 0.2rem 0.133333rem;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.goodsBox img {
  width: 1.333333rem;
  height: 1.333333rem;
  margin-right: 0.133333rem;
}

.goodsBox .info {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  width: 3.2rem;
}

.goodsBox .info .name {
  margin-bottom: 0.04rem;
}

.goodsBox .info .infoBott {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  margin-top: auto;
}

.goodsBox .info .infoBott .money {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
          align-items: baseline;
}

.goodsBox .info .infoBott .num {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
          align-items: baseline;
}

.goodsBox .info .infoBott .originalMoney {
  text-decoration: line-through;
  margin-left: 0.093333rem;
}

.my .top {
  background-color: #fff;
  height: 1.4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  padding: 0 0.2rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.my .top .left {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.my .top .left img {
  width: 0.733333rem;
  height: 0.733333rem;
  border-radius: 50%;
}

.my .top .left .userInfo {
  margin-left: 0.133333rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.my .top .left .userInfo div {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  margin-bottom: 0.026667rem;
}

.my .top .left .userInfo div em {
  text-align: center;
  margin-left: 0.066667rem;
  padding: 1px 3px 0;
}

.my .top .right {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.my .top .right a img {
  width: 0.293333rem;
  height: 0.293333rem;
  margin-left: 0.253333rem;
}

.my .moneyInfo {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  background-color: #fff;
  padding-bottom: 0.133333rem;
}

.my .moneyInfo a {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  height: 0.866667rem;
}

.my .moneyInfo a span {
  margin-top: -0.053333rem;
}

.my .myOrder {
  background-color: #fff;
  margin-top: 0.08rem;
}

.my .myOrder .title {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 0.666667rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  padding: 0 0.2rem;
}

.my .myOrder .title a {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.my .myOrder .title a img {
  width: 0.133333rem;
  height: 0.16rem;
  margin-left: 0.08rem;
}

.my .myOrder .list {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  padding-bottom: 0.133333rem;
}

.my .myOrder .list a {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
  height: 0.906667rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  position: relative;
}

.my .myOrder .list a img {
  width: 0.333333rem;
  height: 0.333333rem;
  margin-bottom: 0.08rem;
}

.my .myOrder .list a em {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  width: 0.213333rem;
  height: 0.213333rem;
  border-radius: 50%;
  top: 0.04rem;
  right: 20%;
  font-size: 0.133333rem;
  color: #fff;
  background-color: #F65236;
}

.my .cellBox {
  background-color: #fff;
  margin-top: 0.08rem;
}

.my .cellBox a {
  height: 0.733333rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  padding: 0 0.2rem;
}

.my .cellBox a .left {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.my .cellBox a .left img {
  width: 0.306667rem;
  height: 0.306667rem;
  margin-right: 0.066667rem;
}

.my .cellBox a .right {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.my .cellBox a .right p {
  width: 0.6rem;
  text-align: center;
}

.my .cellBox a .right img {
  width: 0.133333rem;
  height: 0.16rem;
  margin-left: 0.08rem;
}

.my .return {
  width: 100%;
  height: 0.666667rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  margin: 0.08rem 0;
  background-color: #fff;
}

.my .girdBox {
  background-color: #fff;
  margin-top: 0.08rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0.2rem 0;
}

.my .girdBox a {
  width: 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  height: 1.2rem;
}

.my .girdBox a img {
  width: 0.466667rem;
  height: 0.466667rem;
  margin-bottom: 0.08rem;
}

.evaluate .tab {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  height: 0.666667rem;
  background-color: #fff;
  box-shadow: 0 0.066667rem 0.133333rem 0 rgba(0, 0, 0, 0.04);
}

.evaluate .tab div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  height: 100%;
}

.evaluate .tabBox {
  height: 100%;
}

.evaluate .tabBox .box {
  display: none;
}

.evaluate .tabBlock {
  height: 100%;
  overflow: auto;
}

.evaluate .tabBlock .butt {
  width: 1.066667rem;
  height: 0.373333rem;
  border: 1px solid #f65236;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.evaluate .tabBlock .borColor_e {
  border: 1px solid #e5e5e5;
}

.seeEvaluate .evaluateBox {
  background-color: #fff;
  padding: 0 0.2rem;
  overflow: hidden;
}

.seeEvaluate .evaluateBox .top {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  height: 0.666667rem;
}

.seeEvaluate .evaluateBox .imgBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin: 0.133333rem 0 0.333333rem;
}

.seeEvaluate .evaluateBox .imgBox img {
  margin-right: 0.12rem;
  width: 1.2rem;
  height: 1.2rem;
}

.seeEvaluate .goodsBox {
  padding: 0.266667rem 0.2rem;
}

.seeEvaluate .goodsBox img {
  width: 0.866667rem;
  height: 0.866667rem;
}

.seeEvaluate .goodsBox .info {
  width: 3.6rem;
}

.evaluating .block {
  background-color: #fff;
  margin-bottom: 0.133333rem;
}

.evaluating .block textarea {
  padding: 0.066667rem 0.2rem;
  width: 100%;
}

.evaluating .block .textlength {
  padding: 0 0.2rem 0.133333rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
}

.evaluating .title {
  padding: 0.2rem 0.2rem 0;
}

.evaluating .goodsBox {
  margin-top: 0;
}

.evaluating .goodsBox img {
  width: 1.066667rem;
  height: 1.066667rem;
}

.evaluating .goodsBox .info {
  width: 3.466667rem;
}

.evaluating .butt {
  width: 100%;
  margin: 0.333333rem 0 0;
}

.evaluating .butt span {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  width: 4.6rem;
  margin: 0 auto;
  height: 0.533333rem;
}

.news .blocklist {
  padding: 0 0.133333rem 0.133333rem;
  overflow: hidden;
}

.news .blocklist .block {
  margin-top: 0.133333rem;
  background-color: #fff;
  padding: 0.266667rem;
  position: relative;
}

.news .blocklist .block .title {
  margin-bottom: 0.066667rem;
}

.news .blocklist .block .time {
  margin-top: 0.106667rem;
}

.news .blocklist .block .unread {
  position: absolute;
  right: 0.133333rem;
  top: 0.133333rem;
  width: 0.106667rem;
  height: 0.106667rem;
  background: #f65236;
  border-radius: 50%;
}

.news .blocklist .block .top {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.news .blocklist .block .imgBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 1rem;
  padding: 0.066667rem;
  background: #f5f5f5;
  margin-top: 0.2rem;
}

.news .blocklist .block .imgBox img {
  width: 0.866667rem;
  height: 0.866667rem;
}

.news .blocklist .block .imgBox .content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-left: 0.133333rem;
  height: 0.76rem;
  width: 3.2rem;
}

.newsDetails .page-bd {
  background-color: #fff;
}

.newsDetails .detailsBox {
  padding: 0.333333rem 0.266667rem;
}

.newsDetails .detailsBox span {
  margin: 0.066667rem 0 0.2rem;
  display: block;
}

.newsDetails .detailsBox img {
  width: 100%;
  margin: 0.2rem 0 0.266667rem;
}

.newsDetails .detailsBox p {
  font-size: 0.173333rem;
  color: #333;
  line-height: 0.28rem;
  text-align: justify;
}