.tab {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  height: 0.666667rem;
  background-color: #fff;
  box-shadow: 0 0.066667rem 0.133333rem 0 rgba(0, 0, 0, 0.04);
}

.tab div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  height: 100%;
}

.tabBox {
  margin-top: 0.133333rem;
}

.tabBox .box {
  display: none;
}

.tabBox .box .right span {
  border: 1px solid #E5E5E5 !important;
}

.listBox .block {
  margin: 0 0.2rem 0.133333rem 0.2rem;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  color: #C5C5C5;
}

.listBox .block .left {
  width: 2.826667rem;
  background-image: url('../images/ticketBG.png');
  background-size: 0.12rem 1.333333rem;
  background-repeat: no-repeat;
  background-position: right;
  height: 1.333333rem;
  padding-left: 0.266667rem;
}

.listBox .block .left div {
  margin-top: 0.2rem;
}

.listBox .block .left p {
  margin: 0.026667rem 0 0.133333rem;
}

.listBox .block .right {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  width: 1.906667rem;
  position: relative;
}

.listBox .block .right .money {
  margin-bottom: 0.066667rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
          align-items: baseline;
}

.listBox .block .right .useing {
  display: none;
}

.listBox .block .right img {
  position: absolute;
  right: 0;
  top: 0;
  width: 0.466667rem;
  height: 0.466667rem;
}

.listBox .userTicket .left {
  color: #999;
}

.listBox .userTicket .left div {
  color: #333;
}

.listBox .userTicket .right div {
  color: #333;
}

.listBox .userTicket .right span {
  color: #F65236;
  border: 1px solid #f65236 !important;
}

.page-ft a {
  width: 4.6rem;
  height: 0.533333rem;
  margin: 0 0.2rem 0.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}