.paType {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  background-color: #fff;
}

.paType img {
  width: 1.2rem;
  height: 0.68rem;
  margin-top: 0.666667rem;
}

.paType p {
  margin-top: 0.133333rem;
}

.paType div {
  margin-top: 0.333333rem;
}

.paType span {
  margin-bottom: 0.4rem;
}

.cellBox {
  padding: 0.2rem 0.266667rem 0.2rem;
  background-color: #fff;
}

.cellBox .cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  height: 0.6rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.cellBox .cell .money {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.line {
  width: 4.466667rem;
  height: 0.013333rem;
  border: 0.013333rem dashed #eee3e1;
  margin-bottom: 0.266667rem;
}

.button {
  margin: 0.333333rem 0;
  padding: 0 0.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.button a {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
  height: 0.533333rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}