ul {
  list-style: none outside none;
}

button {
  font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif, "Helvetica Neue";
}

.ub {
  display: -webkit-box !important;
  display: box !important;
  position: relative;
}

.ub-f1 {
  position: relative;
  -webkit-box-flex: 1;
  box-flex: 1;
}

/*select*/

.zx_mask {
  overflow: hidden;
  font-size: 0.2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 9998;
}

.pickerBG {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 888;
  background: rgba(0, 0, 0, 0.5);
}

.zx_select {
  font-size: 0.2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /*height: 4.4rem;*/
  height: 0;
  width: 100%;
  color: #333;
  background: #fff;
  z-index: 9999;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.zx_select > header {
  overflow: hidden;
  width: 100%;
  height: 0.6rem;
  line-height: 0.6rem;
  text-align: center;
  background: #F0F1F2;
}

.zx_select > header > h1 {
  display: inline-block;
  font-size: 0.2rem;
  font-weight: normal;
}

.zx_select > header > button {
  font-size: 0.2rem;
  height: 0.6rem;
  padding: 0 0.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  border: none;
  outline: none;
  background: #F0F1F2;
}

.zx_select button.nav_left {
  float: left;
  color: #666;
}

.zx_select button.nav_right {
  float: right;
  color: #F65236;
}

.zx_select > p {
  width: 100%;
  line-height: 0.4rem;
  text-align: center;
  font-size: 0.186667rem !important;
}

.zx_select > p > span {
  display: block;
}

/*列表*/

.zx_select > div {
  overflow: hidden;
  position: relative;
  height: 200px;
  text-align: center;
}

.zx_select > div > div.ub-f1 {
  max-width: 100%;
  min-width: 50%;
}

.zx_select ul {
  line-height: 40px;
}

.zx_select ul > li {
  height: 40px;
  color: #2A2B2C;
  padding: 0 0.066667rem !important;
  margin: 0 !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*.zx_select ul > li:first-child {*/

/*padding-top: 80px;*/

/*}*/

/*.zx_select ul > li:last-child {*/

/*padding-bottom: 80px;*/

/*}*/

.zx_select .sel_middle {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 40px;
  margin-top: -20px;
  pointer-events: none;
  border-top: 0.006667rem solid #eee;
  border-bottom: 0.006667rem solid #eee;
}

.zx_select .sel_top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  pointer-events: none;
  background: rgba(209, 213, 216, 0.5);
}

.zx_select .sel_bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  pointer-events: none;
  background: rgba(209, 213, 216, 0.5);
}