.goodsBox {
  margin-top: 0.133333rem;
  padding: 0.133333rem 0.2rem 0.133333rem;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.goodsBox .imgBox {
  position: relative;
}

.goodsBox .imgBox .imgBg {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99;
  top: 0;
  width: 1.333333rem;
  height: 1.333333rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.goodsBox .imgBox .imgBg span {
  width: 0.866667rem;
  height: 0.866667rem;
  border: 0.026667rem solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.goodsBox img {
  width: 1.333333rem;
  height: 1.333333rem;
  margin-right: 0.133333rem;
}

.goodsBox .info {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  width: 3.2rem;
}

.goodsBox .info .name {
  margin-bottom: 0.04rem;
}

.goodsBox .info .type {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.goodsBox .info .line {
  width: 0.933333rem;
  height: 0.066667rem;
  background: rgba(246, 82, 54, 0.12);
  border-radius: 0.066667rem;
  margin-right: 0.106667rem;
  margin-top: 0.04rem;
}

.goodsBox .info .line i {
  height: 0.066667rem;
  background: #f65236;
  border-radius: 0.066667rem;
}

.goodsBox .info .infoBott {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  margin-top: auto;
}

.goodsBox .info .infoBott .money {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
          align-items: baseline;
}

.goodsBox .info .infoBott .num {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
          align-items: baseline;
}

.goodsBox .info .infoBott .originalMoney {
  text-decoration: line-through;
  margin-left: 0.093333rem;
}

.top_img {
  width: 100vw;
  height: 3.493333rem;
}

.seckill .scrollbox {
  overflow: auto;
  margin: -2.373333rem 0 0.133333rem;
  z-index: 9;
}

.seckill .nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #f65236;
}

.seckill .BGcolor_e {
  background-color: #eee;
}

.seckill  .emptySeckill {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  top: 0.8rem;
}
.seckill .emptySeckill img {
  width: 100%;
  margin-top: 20vh;
}
.seckill .emptySeckill span {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding-bottom: 0.266667rem;
}


.seckill .tab {
  height: 0.733333rem;
  box-shadow: 0 0.066667rem 0.133333rem 0 rgba(0, 0, 0, 0.04);
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-bottom: 0.066667rem;
}

.seckill .tab .active_s {
  position: relative;
  font-size: 0.28rem;
  opacity: 1;
}

.seckill .tab .active_s::after {
  content: " ";
  position: absolute;
  left: 34%;
  top: 0.666667rem;
  width: 0.333333rem;
  border-bottom: 0.08rem solid #fff;
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.seckill .tab a,
.seckill .tab div {
  float: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  height: 100%;
  opacity: .6;
  width: 1rem;
}

.seckill .tab a .num,
.seckill .tab div .num {
  margin-bottom: -0.053333rem;
}

.seckill .tab div > span:first-child {
  padding-bottom: 0.08rem;
}

.seckill .tabBox {
  position: relative;
}

.seckill .tabBox .box {
  display: none;
}

.seckill .tabBlock > div {
  border-radius: 0.133333rem;
  margin: 0 0.133333rem;
  background-color: #fff;
}

.seckill .butt {
  width: 0.8rem;
  height: 0.333333rem;
  border-radius: 0.173333rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.seckill .timeBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  padding: 0.173333rem 0.2rem 0;
}

.seckill .timeBox .time {
  margin-left: 0.106667rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.seckill .timeBox .time p {
  margin-right: 0.066667rem;
}

.seckill .timeBox .time span {
  font-weight: bold;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  height: 0.253333rem;
  width: 0.08rem;
  color: #333333;
}

.seckill .timeBox .time div {
  width: 0.213333rem;
  height: 0.253333rem;
  background: #333333;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
          align-items: flex-end;
  font-family: 'num';
  font-size: 0.16rem;
  color: #fff;
}