.Tost {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.133333rem 0.2rem;
  border-radius: 0.066667rem;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 99999999;
}

.signIn .text-color {
  color: #FFC7BE;
}

.signIn .top {
  background: -webkit-linear-gradient(229deg, #2a2a2a, #383838);
  background: linear-gradient(221deg, #2a2a2a, #383838);
  width: 100vw;
  height: 43vh;
  position: relative;
}

.signIn .top .goLog {
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
  z-index: 999;
}

.signIn .top .weui-cell {
  background: url('../images/signInTopBG.png') no-repeat;
  background-size: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.signIn .top .weui-cell .weui-cell__bd {
  margin-top: 0.72rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.signIn .top .weui-cell .weui-cell__bd div {
  text-align: center;
  position: relative;
  z-index: 999;
  width: 1.186667rem;
  height: 1.186667rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.signIn .top .weui-cell .weui-cell__bd div p {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.signIn .top .weui-cell .weui-cell__bd div p i {
  margin-right: 0.053333rem;
}

.signIn .top .weui-cell .type {
  position: absolute;
  z-index: 99;
  left: 24vw;
  top: 0.96rem;
}

.signIn .top .weui-cell .type img {
  width: 2.666667rem;
}

.signIn .top .weui-cell .type .giftBox {
  position: absolute;
  right: 0;
  top: 0;
  width: 0.293333rem;
  height: 0.293333rem;
  z-index: 999999;
}

.signIn .top .weui-cell .date {
  position: absolute;
  z-index: 99;
  left: 16.5vw;
  top: 1.2rem;
  width: 3.333333rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.signIn .top .weui-cell .date .onedate {
  position: absolute;
  left: 0;
}

.signIn .top .weui-cell .date .twodate {
  position: absolute;
  top: 0.64rem;
  left: 0.173333rem;
}

.signIn .top .weui-cell .date .threedate {
  position: absolute;
  top: 1.133333rem;
  left: 0.573333rem;
}

.signIn .top .weui-cell .date .fourdate {
  position: absolute;
  top: 1.453333rem;
  left: 1.533333rem;
}

.signIn .top .weui-cell .date .fivedate {
  position: absolute;
  top: 1.12rem;
  left: 2.466667rem;
}

.signIn .top .weui-cell .date .sixdate {
  position: absolute;
  top: 0.64rem;
  left: 2.866667rem;
}

.signIn .top .weui-cell .date .sevendata {
  position: absolute;
  right: 0;
}

.signIn .Calendar {
  height: 59vh;
  margin: -13vh 3vw 0 3vw;
  width: 94vw;
  background-color: #fff;
  position: relative;
  z-index: 99999;
}

.signIn #toyear {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  height: 8vh;
  padding: 0 0.266667rem;
}

.signIn tr,
.signIn td,
.signIn table {
  border: none;
  text-align: center;
  font-size: 0.2rem;
}

.signIn thead {
  height: 5vh;
  display: block;
}

.signIn tbody {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  height: 46vh;
}

.signIn tr {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
  width: 100%;
}

.signIn tr td {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
}

.signIn table {
  width: 100%;
  height: 51vh;
}

.signIn table .active {
  color: #F65236;
  font-weight: bold;
}

.signIn table .active span {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  margin: auto;
  width: 0.533333rem;
  height: 0.533333rem;
  color: #F65236;
  font-weight: bold;
  background: rgba(246, 82, 54, 0.14);
  border-radius: 50%;
}

.signIn .model {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999998;
  display: none;
}

.signIn .model .modelBg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999999;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.signIn .model .canter {
  background-image: url(../images/signInpoup01.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 96vw;
  margin: 25vh 2vw 0 2vw;
  height: 3.56rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  position: relative;
  z-index: 999999989;
}

.signIn .model .canter P {
  margin-top: 1.466667rem;
}

.signIn .model .canter div {
  margin-top: 0.533333rem;
}

.signIn .model .canter span {
  margin-top: 0.066667rem;
}

.signIn .model .closeBox {
  margin-top: 0.333333rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  position: relative;
  z-index: 9999999999;
}

.signIn .model .closeBox img {
  width: 0.48rem;
}

.signInLog .top {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 0.666667rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  padding: 0 0.266667rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  background-color: #fff;
}

.signInLog .top img {
  width: 0.266667rem;
}

.signInLog .list {
  margin-top: 0.133333rem;
  background-color: #fff;
  padding: 0.133333rem 0.266667rem;
}

.signInLog .list .cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  height: 0.666667rem;
}

.signInLog .list .cell .right {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}