.cell {
  height: 0.733333rem;
}

.cell .cell_hd span {
  width: 1.2rem;
  display: block;
}

.cell .cell_ft input {
  width: 3.3333rem;
  text-align: right;
  padding-right: 1px;
}

.cell .cell_ft .userimg {
  width: 0.533333rem;
  height: 0.533333rem;
  border-radius: 50%;
}

.cell .cell_ft #code {
  width: 0.933333rem;
}

.cell .cell_ft #address {
  width: 3.333333rem;
}

.top {
  height: 1.2rem;
}

.noline::before {
  display: none;
}

.cell:last-child {
  margin-bottom: 0.133333rem;
}

.twoBox {
  margin-top: 0.133333rem;
}

.model {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  display: none;
}

.model .modelBg {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
}

.model .modelContent {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
}

.model .modelContent .closeBox {
  position: absolute;
  top: 0.306667rem;
  right: 0.2rem;
}

.model .modelContent .closeBox img {
  width: 0.173333rem;
  height: 0.173333rem;
}

.model .modelContent .title {
  padding: 0 0.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  height: 0.666667rem;
}

.model .modelContent .cantre {
  width: 100%;
  padding: 0 0.2rem 0.133333rem;
}

.model .modelContent .cantre .block {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  height: 0.6rem;
}

.model .modelContent .cantre .block .payType {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.model .modelContent .cantre .block .payType img {
  width: 0.333333rem;
  height: 0.333333rem;
  margin-right: 0.133333rem;
}

.model .modelContent .cantre .block .payType img div {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.model .modelContent .buttBox {
  width: 100%;
  padding: 0.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.model .modelContent .buttBox span {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
  height: 0.533333rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.userData label > * {
  pointer-events: none;
}

.userData label {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  touch-action: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.userData label .check {
  position: absolute;
  left: -9999em;
}

.userData label .iconBox {
  position: relative;
}

.userData label .check[type=radio] + i {
  display: inline-block;
  vertical-align: middle;
  font: normal normal normal 0.093333rem/1 weui;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.userData label .check + i:after {
  font-size: 0.24rem;
  display: block;
}

.userData label .check[type=radio]:checked + i:after {
  content: "\EA08";
  color: #f65236;
}

.page-ft span {
  width: 4.6rem;
  height: 0.533333rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
          margin:  .2rem auto;
}

.userData input[disabled] {
  color: #999;
  -webkit-text-fill-color: #999;
  -webkit-opacity: 1;
  opacity: 1;
}

.personalData .picker .picker-panel .wheel-wrapper .wheel {
  font-size: 0.24rem;
}

.personalData .picker .picker-panel .picker-choose .picker-title {
  font-size: 0.213333rem;
}

.personalData .picker .picker-panel .picker-choose {
  background: #F0F1F2;
}

.personalData .picker .picker-panel .picker-choose .confirm {
  color: #F65236;
}