{extend name="layouts@base" /}
{block name="main" }
<link rel="stylesheet" href="__STATIC__/mobile/default/css/coupons.css"/>
<div class="page couponsCentre">
    <div class="page-hd">
        <div class="header bor-1px-b">
            <div class="header-left">
                <a href="javascript:history.go(-1)" class="left-arrow"></a>
            </div>
            <div class="header-title">领券中心</div>
            <div class="header-right">
                <a href=''></a>
            </div>
        </div>
    </div>
    <div class="page-bd bonusList">
        <!-- 页面内容-->
    </div>
    <div class="page-ft">
        <a href="{:url('index')}" class="fs32 fw_b color_w BGcolor_r btn_a">查看我的优惠券</a>
    </div>
</div>
<!-- 没有优惠券 -->
<script type="text/html" id="emptyTpl">
    <div class="noCoupons" style="display: block;">
        <img src="__STATIC__/mobile/default/images/noCoupons.png" alt="">
        <span class="fs30 color_9">暂无可领取的优惠券</span>
    </div>
</script>
<script type="text/html" id="TabTpl">
    <div class="tabBox">
        <div class="tabBlock ">
            <div class="listBox">
                {{each list as item index}}
                <div class="block" data-type_id="{{item.type_id}}">
                    <div class="left">
                        <div class="fs34 fw_b color_3">{{item.type_name}}</div>
                        <p class="fs26 color_9">满{{item.min_amount}}元可用</p>
                        <span class="fs24 color_9">{{item._use_start_date}}-{{item._use_end_date}}</span>
                    </div>
                    <div class="right">
                        <div class="fs38 money color_3">
                            <p class="fw_b">￥</p><em class="fs60 num">{{item.type_money}}</em>
                        </div>
                        {literal}
                            {{if item.receive_status==0}}<button class="fs24 active receive_do">立即领取</button>{{/if}}
                            {{if item.receive_status==1}}<button class="fs24 active use_do">去使用</button>{{/if}}
                            {{if item.receive_status==2}}<button class="fs24 active noNum">已抢光</button>{{/if}}
                        {/literal}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</script>
<script>
    //请求列表数据
    function getList() {
        $('.bonusList').append('<div class="get_list_tip">加载数据中...</div>');
        $.ajax({
            url:'{:_url("shop/api.bonus/getBonusListReceivable")}',// 跳转到 action
            data:{},
            type:'post',
            cache:false,
            dataType:'json',
            success:function(res) {
                console.log(res);
                if(res.code  == 0 ){
                    _alert(res.msg);
                    $('.get_list_tip').html('加载失败，点击重新加载.');
                    return false;
                }
                $('.get_list_tip').remove();
                if (res.list){
                    $('.bonusList').append(template('TabTpl',res));
                    $('.bonusList').append('<div class="loadEnd">—— 没有更多啦，我是有底线的 ——</div>');
                }else{
                    $('.bonusList').append(template('emptyTpl',res));
                }
            },error : function() {
                $('.get_list_tip').html('加载失败，点击重新加载.');
            }
        });
    }
    getList();//执行商品加载
    $(function () {
        $('.noNum').on('click', function () {
            $('.layout').show()
        })
        $('.layoutBG').on('click', function () {
            $('.layout').hide()
        })
        $('.button').on('click', function () {
            $('.layout').hide()
        })
        /*立即领券*/
        $(".bonusList").on('click','.receive_do',function () {
            var _this = $(this);
            var type_id = _this.parents('.block').data('type_id');
            var arr = new Object();
            arr.id=type_id;
            jq_ajax('{:url("shop/api.bonus/receiveFree")}',arr,function(res){
                if(res.code  == 0 ){
                    _alert(res.msg);
                }else if(res.code==2){
                    _alert('抱歉，优惠券已抢光！');
                    _this.removeClass('active').removeClass('receive_do').addClass('noNum').text('已抢光');
                }else{
                    _this.removeClass('receive_do').addClass('use_do').text('去使用');
                }
            })
        });
        /*前往使用*/
        $(".bonusList").on('click','.use_do',function () {
            var _this = $(this);
            var type_id = _this.parents('.block').data('type_id');
            window.location.href='{:url("shop/bonus/goodsList")}'+'?type_id='+type_id;
        });
        var loading = false;  //状态标记
        $('.page-bd').scroll(function () {
            if ($(this).children('div').height() - $(this).height() - $(this).scrollTop() < 50 && !loading) {
                loading = true;
                getList(nowPage);
            }
        })
    })
</script>
{/block}