<link rel="stylesheet" href="__STATIC__/mobile/default/css/coupons.css"/>
<div class="page myCoupons">
    <div class="page-hd">
        <div class="header bor-1px-b">
            <div class="header-left">
                <a href="javascript:history.go(-1)" class="left-arrow"></a>
            </div>
            <div class="header-title">我的优惠券</div>
            <div class="header-right">
                <a href=''></a>
            </div>
        </div>
        <div class="tab fs32">
            <div class="color_9 orderActive">可用<span class="fs26">(<em class="unusedNum">0</em>)</span></div>
            <div class="color_9">不可用<span class="fs26">(<em class="unusableNum">0</em>)</span></div>
        </div>
    </div>

    <div class="page-bd">
        <!-- 页面内容-->
        <div class="tabBox bonusList">
        </div>
    </div>
    <div class="page-ft">
        <a href="{:url('bonusCenter')}" class="fs32 fw_b color_w BGcolor_r btn_a">去领券中心</a>
    </div>
</div>
<script type="text/html" id="TabTpl">
    <div class="tabBlock userTicket">
        <div>
            {{each unused as item index}}
            <div class="block" data-bonus_id="{{item.bonus_id}}" data-type_id="{{item.type_id}}" >
                <div class="left">
                    <div class="fs34 fw_b">{{item.bonus.type_name}}</div>
                    <p class="fs26">满{{item.bonus.min_amount}}元可用</p>
                    <span class="fs24">{{item.bonus._use_start_date}}-{{item.bonus._use_end_date}}</span>
                </div>
                <div class="right">
                    <div class="fs38 money">
                        <p class="fw_b">￥</p><em class="fs60 num">{{item.bonus.type_money}}</em>
                    </div>
                    <button class="fs24 active use_do" >去使用</button>
                </div>
            </div>
            {{/each}}
            {literal}
                {{if unused.length<1}}
                <div class="noCoupons" style="display: block">
                    <img src="__STATIC__/mobile/default/images/noCoupons.png" alt="">
                    <span class="fs30 color_9">暂无可用的优惠券</span>
                </div>
                {{else}}
                <div class='loadEnd'>—— 没有更多啦，我是有底线的 ——</div>
                {{/if}}
            {/literal}
        </div>
    </div>
    <div class="tabBlock box">
        <!-- 没有优惠券 -->
        <div>
            {{each unusable as item index}}
            {literal}
            <div class="block">
                <div class="left">
                    <div class="fs34  fw_b">{{item.bonus.type_name}}</div>
                    <p class="fs26 ">满{{item.bonus.min_amount}}元可用</p>
                    <span class="fs24 ">{{item.bonus._use_start_date}}-{{item.bonus._use_end_date}}</span>
                </div>
                <div class="right">
                    <div class=" fs38 money">
                        <p class="fw_b fm_p">￥</p><em class="fs60 num">{{item.bonus.type_money}}</em>
                    </div>
                    <button class="fs24">
                        {{if item.status==1}}已使用{{/if}}
                        {{if item.status==2}}已失效{{/if}}
                        {{if item.status==3}}已过期{{/if}}
                        {{if item.status==4}}未到期{{/if}}
                    </button>
                </div>
            </div>
            {/literal}
            {{/each}}
            {literal}
            {{if unusable.length<1}}
            <div class="noCoupons" style="display: block">
                <img src="__STATIC__/mobile/default/images/noCoupons.png" alt="">
                <span class="fs30 color_9">暂无不可用的优惠券</span>
            </div>
            {{else}}
            <div class='loadEnd'>—— 没有更多啦，我是有底线的 ——</div>
            {{/if}}
            {/literal}
        </div>
    </div>
</script>
<script>
    var bounsData = {};
    //获取优惠券列表
    function getBonusList() {
        jq_ajax('{:url("shop/api.bonus/getList")}', '', function (res) {
            if (res.code == 0) {
                _alert(res.msg);
                return false;
            }
            bounsData = res.data;
            $('.unusedNum').html(bounsData['unusedNum']);
            $('.unusableNum').html(bounsData['unusableNum']);
            if (typeof(totalGoodsPrice) != 'undefined') {
                bounsData.totalGoodsPrice = parseFloat(totalGoodsPrice);
            } else {
                bounsData.totalGoodsPrice = -1;
            }
            $('.bonusList').html(template('TabTpl', bounsData));
        })
    }
    $(function () {
        getBonusList();//加载优惠券

        /*前往使用*/
        $(".bonusList").on('click','.use_do',function () {
            var _this = $(this);
            var type_id = _this.parents('.block').data('type_id');
            window.location.href='{:url("shop/bonus/goodsList")}'+'?type_id='+type_id;
        });

        $('.tab div').on('click', function () {
            var index = $(this).index();
            $(this).addClass('orderActive')
            $(this).siblings().removeClass('orderActive')
            $('.tabBlock').eq(index).show();
            $('.tabBlock').eq(index).siblings().hide();
        })
    })
</script>