<table class="table  table-hover  m-b-none">
<thead>
<tr>
    <th>记录时间</th>    
    <th>订单SN</th>
    <th>用户ID</th>
    <th>分佣身份</th>
    <th>奖项相关</th>
    <th>佣金</th>
    <th width="150">状态</th>
</tr>
</thead>
<tbody>
{volist name="data.list" id="row" }
<tr>
<td>{$row.add_time|dateTpl}</td>
<td>{$row.order_sn}</td>
<td>{$row.dividend_uid} - {$row.dividend_uid|userInfo}</td>
<td>{$row.role_name}</td>
<td>{$row.award_name} - {$row.level_award_name}</td>
<td>{$row.dividend_amount|priceFormat}</td>
<td>{$divdend_satus[$row['status']]} /
    {if condition="$row.order_type == 'role_order'"}
<a href="{:url('distribution/sys_admin.order/info',array('order_id'=>$row['order_id']))}" class="m-xs" title="查看订单">
    <i class="fa fa-search text-muted"></i>
</a>
    {else/}
    <a href="{:url('shop/sys_admin.order/info',array('order_id'=>$row['order_id']))}" class="m-xs" title="查看订单">
        <i class="fa fa-search text-muted"></i>
    </a>
    {/if}
</td>
</tr>
{/volist} 
</tbody>
</table>
{empty name="data.list"}
<table width="100%" >
 	<tr><td height="300" colspan="8" align="center" valign="middle" >没有相关数据！</td></tr>
</table>
{/empty}  