{extend name="mainadmin@layouts/base" /}
{block name="head"}

{/block}
{block name="main" }
<header class="header  b-b clearfix">
     <div class="page-breadcrumbs">
            <ul class="breadcrumb" >
                <li>
                    <i class="fa fa-ellipsis-v"></i>
                    <strong>物流列表</strong>
                </li>                                  
            </ul>
             <a href="{:url('info')}" title="新增物流" data-toggle="ajaxModal" class="btn btn-sm btn-default fr m-t-md m-r"><i class="fa fa-plus m-r-xs"></i>新增物流</a>
        </div>
</header>
<section class="scrollable wrapper w-f ">
    <section class="panel panel-default ">
        <table class="table  table-hover m-b-none ">
        <thead>
            <tr>
               <th width="80">ID</th>
               <th width="120">名称</th>
               <th width="150">快递100代码</th>
               <th width="150">快递鸟代码</th>
               <th>描述</th>
               <th width="80">排序</th>
               <th width="90">货到付款</th>
               <th width="80">自提</th>
               <th width="90">前台开放</th>
               <th width="90">是否启用</th>
               <th class="col-sm-1 mn70">操作</th>
            </tr>
        </thead>
        <tbody>
        {volist name="list" id="row"}
        <tr>
            <td align="center">{$row.shipping_id}</td>
          <td  class="{$row['is_sys']==1?'red':''}">{$row.shipping_name}</td>
          <td>{$row.shipping_code}</td>
          <td>{$row.kdn_code}</td>
            <td>{$row.shipping_desc}</td>
            <td>{$row.sort_order}</td>
            <td><a href="#" data-remote="{:url('ajaxEdit',array('shipping_id'=>$row['shipping_id'],'field'=>'support_cod'))}" class="{$row.support_cod|tplckval='>0','active'}"  data-toggle="class" data-ajax="true"><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a></td>
            <td><a href="#" data-remote="{:url('ajaxEdit',array('shipping_id'=>$row['shipping_id'],'field'=>'is_zt'))}"  class="{$row.is_zt|tplckval='>0','active'}" data-toggle="class" data-ajax="true"><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a></td>
            <td><a href="#" data-remote="{:url('ajaxEdit',array('shipping_id'=>$row['shipping_id'],'field'=>'is_front'))}" class="{$row.is_front|tplckval='>0','active'}"  data-toggle="class" data-ajax="true" ><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a></td>
            <td><a href="#" data-remote="{:url('ajaxEdit',array('shipping_id'=>$row['shipping_id'],'field'=>'status'))}" class="{$row.status|tplckval='>0','active'}"  data-toggle="class" data-ajax="true" ><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a></td>
            <td>
                <a href="{:url('info',array('shipping_id'=>$row['shipping_id']))}" data-toggle="ajaxModal" title="编辑">
                    <i class="fa fa-edit text-muted"></i>
                </a>
            </td>
        </tr>
        {/volist}
        </tbody>
        </table>
        {empty name="list"}
        <table width="100%" >
        	<tr><td height="300" colspan="8" align="center" valign="middle" >没有相关数据！</td></tr>
        </table>
        {/empty}
    </section>
</section>
{/block}

