{extend name="mainadmin@layouts/base" /}
{block name="main" }
        <header class="header  b-b clearfix">
            <form id="forms" class="talbe-search form-inline "  method="post" action="{:url('getList')}" >
             <div class="page-breadcrumbs">
                    <ul class="breadcrumb" >
                        <li>
                            <i class="fa fa-ellipsis-v"></i>
                            <strong>微信粉丝</strong>
                        </li>                                  
                    </ul>
                     <div class="form-group m-l">
                    <a class="btn btn-default  " data-toggle="reportrange" data-change="submit">
                        <i class="fa fa-calendar fa-lg"></i>
                        <small>关注时间</small>
                        <span></span> <b class="caret"></b>
                        <input type="hidden" value="{$start_date} - {$end_date}" id="reportrange" name="reportrange" />
                    </a>
              </div>
                      <input type="text" class="form-control input-large" value="" name="keyword" placeholder="关键字" data-rule-required="true" />
                      <button class="btn btn-sm btn-default-iq" type="submit" title="搜索"><i class="fa fa-search"></i></button>
                    
                </div>
            </form>
        </header>
        <section class="scrollable wrapper w-f ">
            <section class="panel panel-default ">
                <div class="table-responsive " id="list_box">
                	{include file="sys_admin/users/list" /}
                </div>
            </section>
        </section>
{/block}
