{extend name="layouts@dd_head" /}
{block name="main" }
<div class="page-bd DDBBag machinePage">
    <!-- 页面内容-->
    <div class="weui-tab">
        <div class="weui-navbar">
            <a class="weui-navbar__item weui-bar__item--on" href="#tab1">矿机</a>
            <a class="weui-navbar__item" href="#tab2" onclick="getStorageList(1)">增值包</a>
        </div>
        <div class="weui-tab__bd body-c">
            <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
                <div>
                    <div class="dp-flex top">
                        <p class="fs32">{$userInfo['role']['role_name']}</p>
                        <!-- <span class="fs24">（基础型）</span> -->
                        <img src="__STATIC__/dingding/images/right.png" alt="">
                    </div>
                </div>
                <div class="lists1" id="list1">
                    <script type="text/html" id="listTpl">
                        {{each list as item index}}
                        <div class="list">
                            <div class="list-img">
                                {literal}
                                {{if item.img}}
                                    <img src="{{item.img}}">
                                {{else}}
                                    <img src="__STATIC__/dingding/images/pro01.png";>
                                {{/if}}
                                {/literal}
                            </div>
                            <div class="list-txt">
                                <h3>{{item.miner_name}}</h3>
                                <div class="list-txt-con">
                                    <div>
                                        <p>消耗叮叮量：{{item.price_min}}-{{item.price_max}}</p>
                                        <p>可产DDB：{{item.total_output}}枚</p>
                                        <p>产矿周期：{{item.scrap_days}}天</p>
                                        <p>信用积分：{{item.credit_integral}}</p>
                                        <p>租赁会员等级：{{item.limit_buy_role}}</p>
                                    </div>
                                    <div class="lease-btn" onclick="getInfo({{item}})">确认租赁</div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </script>                    
                </div>
            </div>
            <div id="tab2" class="weui-tab__bd-item addValuePage ">
                <div class="lists" id="list2">
                    <script type="text/html" id="listTpl2">
                        {{each list as item index}}
                        <div class="list dp-flex">
                            {literal}
                            {{if item.img}}
                                <img src="{{item.img}}">
                            {{else}}
                                <img src="__STATIC__/dingding/images/ddb.png";>
                            {{/if}}
                            {/literal}
                            <div class="con dp-flex">
                                <div class="con-t">
                                    <p>定存DDB：{{item.price_min}}-{{item.price_max}}</p>
                                    <p>合约收益：{{item.rebate_rate}}%</p>
                                    <p>定存周期：{{item.scrap_days}}天</p>
                                    <p>信用积分：{{item.credit_integral}}</p>
                                    <p>会员等级：{{item.limit_buy_role}}</p>
                                </div>
                                <div class="con-bt buyBtn" onclick="getInfo({{item}})">购买</div>
                            </div>
                        </div>
                        {{/each}}
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="popup">
        <div class="popup-bgc"></div>
        <div class="popup-content">
            <div class="sd-cont-net1" style="display: block;">
                <div class="sd-t fs40 dp-flex">
                    当前账户<span id="account_type"></span>
                    余额：<span class="color-e7" id="account"></span>
                </div>
                <label for="ne-input">
                    <div class="wr-input fs28 dp-flex">是否消耗<input id="ne-input" type="text" class="weui-input" placeholder="">购买</div>
                </label>
                <div class="btns dp-flex">
                    <div class="yesBtn" onclick="payBtn()"> 
                        <img src="__STATIC__/dingding/images/yes.png" alt="">
                    </div>
                    <div class="noBtn" onclick="cancelBtn()"> 
                        <img src="__STATIC__/dingding/images/no.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="miner_id">
    </div>
</div>
{include file="layouts@dd_bottom" /}
{/block}

{block name="footer"}   
<script>
  $(function() {
    FastClick.attach(document.body);
  });
</script>
<script type="text/javascript">
    var page_1 = 1;
    var page_2 = 1;
    var loading_1 = false; 
    var loading_2 = false;
    $(function () {
        getMiningList();
    })

    $('#tab1').infinite().on("infinite", function() {
        getMiningList();
    });
    $('#tab2').infinite().on("infinite", function() {
        getStorageList();
    });
    // 获取矿机列表
    function getMiningList(){
        if(loading_1) return;
        loading_1 = true;

        var arr = new Object();
        arr.p = page_1;
        arr.type = 1;

        jq_ajax('{:url("ddkc/api.miner/getMiningList")}',arr,function (res) {            
            $('#list1').append(template('listTpl',res));
            if (res.list.length > 0) {
                page_1++;
                loading_1 = false;
            }else{
                $.toast('加载完成', "text");
            }
        })
    }
    function getStorageList(is_tab = 0) {
        if(loading_2) return;
        if (is_tab == 1 && page_2 > 1) return;
        
        loading_2 = true;

        var arr = new Object();
        arr.p = page_2;
        arr.type = 2;

        jq_ajax('{:url("ddkc/api.miner/getMiningList")}',arr,function (res) {        
            $('#list2').append(template('listTpl2',res));
            if (res.list.length > 0) {
                page_2++;
                loading_2 = false;
            }else{
                $.toast('加载完成', "text");
            }
        })
    }
    // 弹出购买框
    function getInfo(info) {
        if (info.type == 1) {
            $("#account_type").text('叮叮');
            $("#account").text("{$userInfo.account.balance_money}");
        }else{
            $("#account_type").text('DDB');
            $("#account").text("{$userInfo.account.ddb_money}");
        }
        $("#ne-input").attr('placeholder',info.price_min+'~'+info.price_max);
        $("#miner_id").val(info.miner_id);
        $(".popup").show();
    }
    // 下单
    function payBtn(){
        var arr = new Object();
        arr.id = $("#miner_id").val();
        arr.pay_money = $("#ne-input").val();

        if (arr.pay_money == ''){
            $.toast('请输入支付金额.', "text");
            return;
        }
        /*arr.pay_password = $("#pay_password").val();
        if (arr.pay_password == '') {
            $.toast('请输入支付密码.', "text");
            return;
        }*/
        jq_ajax('{:url("ddkc/api.miner/buyMining")}',arr,function (res) {

            if(res.code==1){
                $.toast(res.msg, "text",function(){
                    window.location.href = res.url;
                });
            }else{
                $.toast(res.msg, "text");
            }

        })
    }
    // 取消
    function cancelBtn() {
        $(".popup").hide();
    }
</script>
</body>
</html>
{/block}
