<table class="table table-bordered  ">
<thead class="flip-content bordered-palegreen">
<thead>
<tr>
    <th width="50">ID</th>
    <th width="100" align="center">类型</th>
    <th width="100" align="center">是否开启</th>
    <th width="120">模板名称</th>
    <th width="300">模板code</th>
    <th>样板</th>
    <th width="60">操作</th>
</tr>
</thead>
<tbody>

{volist name="data.list" id="vo" }
<tr>
    <td>{$vo.tpl_id}</td>
    <td>{$msgTplReplace[$vo[type]]['name']}</td>
    <td align="center"><a href="#" data-remote="{:url('ajaxEdit',array('tpl_id'=>$vo['tpl_id'],'field'=>'status'))}" class="{$vo.status|tplckval='=1','active'}"  data-toggle="class" data-ajax="true"><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a></td>
    <td>{$vo.tpl_name}</td>
    <td>{$vo.tpl_code}</td>
    <td>{$vo.tpl_content}</td>
	<td>
<a href="{:url('info',['tpl_id'=>$vo['tpl_id']])}" title="编辑" class="fa fa-edit text-muted m-xs" ></a>
    </td>
</tr>

{/volist} 
</tbody>
</table>
{empty name="data.list"}
<table width="100%" >
 	<tr><td height="300" colspan="8" align="center" valign="middle" >没有相关数据！</td></tr>
</table>
{/empty}  