<table id="listTable" class="table table-hover dataTable">
<thead>
<tr>
    <th width="100" align="center">ID</th>
    <th>关键词</th>
    <th width="200" align="center">添加时间</th>
    <th width="200" align="center">修改时间</th>
    <th width="100" align="center">是否开启</th>
    <th width="100" align="center">关注回复</th>
    <th width="130" align="center">默认无匹配回复</th>
    <th width="80" align="center">操作</th>
</tr>
</thead>
<tbody>
{volist name="data.list" id="vo" }
    <tr>
     <td class="with-checkbox">{$vo.id}</td>
    
      <td>{$vo.keyword}</td>
      <td>{$vo.add_time|dateTpl}</td>
      <td>{$vo.update_time|dateTpl}</td>
      <td align="center"><a href="#" data-remote="{:url('ajaxEdit',array('id'=>$vo['id'],'field'=>'status'))}" class="{$vo.status|tplckval='=1','active'}"  data-toggle="class" data-ajax="true"><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a></td>
      <td align="center"><a href="#" title="设为关注回复，用户关注后优先收到的信息" data-remote="{:url('ajaxEdit',array('id'=>$vo['id'],'field'=>'subscribe'))}" class="{$vo.subscribe|tplckval='=1','active'}"  data-toggle="class" data-ajax="true"><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a></td>
      <td align="center"><a href="#" title="设为默认回复，用户输入没有的关键字时的自动回复" data-remote="{:url('ajaxEdit',array('id'=>$vo['id'],'field'=>'default'))}" class="{$vo.default|tplckval='=1','active'}" data-toggle="class" data-ajax="true"><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a></td>
    <td>
    <a href="{:url('info',array('id'=>$vo['id']))}"  data-toggle="ajaxModal" title="编辑" class="fa fa-edit m-xs" ></a>
    <a href="{:url('delete',array('id'=>$vo['id']))}" data-toggle="ajaxRemove" data-msg="确定删除 {$vo.keyword}"  class="fa fa-trash"  title="删除"></a>
    </td>
    </tr>
{/volist} 
{empty name="data.list"}
<tr>
    <td height="200" colspan="20" style="text-align:center;">没有找到相关数据!</td>
</tr>
{/empty}
    
    </tbody>
   
</table>
      