{extend name="mainadmin@layouts/base" /}
{block name="main" }
<header class="header  b-b clearfix">
     <div class="page-breadcrumbs">
            <ul class="breadcrumb" >
                <li>
                    <i class="fa fa-ellipsis-v"></i>
                    <strong>会员设置</strong>
                </li>                                  
            </ul>
      </div>
</header>
<section class="scrollable  wrapper">
<form class="form-horizontal form-validate" method="post" action="{:url('save')}">
      <section class="panel panel-default">
            <header >
              <ul class="nav nav-tabs">
                  <li class="active"><a href="#basic" data-toggle="tab">基本设置</a></li>
                  <li><a href="#withdraw" data-toggle="tab">提现设置</a></li>
                  <li><a href="#register" data-toggle="tab">注册协议</a></li>
              </ul>
            </header>
            <div class="tab-content">
                <div class="tab-pane active" id="basic">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">注册相关：</label>
                        <div class="controls">
                         <label class="radio-inline">
                            <input name="register_status" value="0" {$setting['register_status']==0?'checked':''} type="radio" >关闭注册
                          </label>
                          <label class="radio-inline">
                            <input name="register_status" value="1" {$setting['register_status']==1?'checked':''} type="radio">开放注册
                          </label>
                          <label class="radio-inline">
                            <input name="register_status" value="2" {$setting['register_status']==2?'checked':''} type="radio" >微信自动注册（使用微信自动注册，将关闭页面注册）
                          </label>
                        </div>
                    </div>
                    <div class="form-group ">
                          <label class="col-sm-2 control-label">注册赠送积分：</label>
                          <div class="controls">
                           <input type="text" value="{$setting['register_integral']}" min=0  size="10" data-rule-required="true" data-rule-integer="true" name="register_integral">
                            <span class="help-line">会员注册赠送积分</span>
                          </div>
                     </div>
                    <div class="line line-dashed line-lg pull-in"  style="width:99%;"></div>
                    <div class="form-group">
                          <label class="col-sm-2 control-label">是否开放签到：</label>
                          <div class="controls">
                            <label class="radio-inline">
                              <input name="sign_in" value="1" {$setting['sign_in']==1?'checked':''} type="radio">开放
                            </label>
                            <label class="radio-inline">
                              <input name="sign_in" value="0" {$setting['sign_in']==0?'checked':''} type="radio" >关闭
                            </label>
                          </div>
                     </div>
                     <div class="form-group ">
                          <label class="col-sm-2 control-label">签到赠送积分：</label>
                          <div class="controls">
                           <input type="text" value="{$setting['sign_integral']}" min=0  size="10" data-rule-required="true" data-rule-integer="true" name="sign_integral">
                            <span class="help-line"> 签到赠送积分的积分数量</span>
                          </div>
                     </div>
                </div>
                <div class="tab-pane " id="withdraw">
                    <div class="form-group">
                          <label class="col-sm-2 control-label">是否开启提现：</label>
                          <div class="controls">
                            <label class="radio-inline">
                              <input name="withdraw_status" value="1" {$setting['withdraw_status']==1?'checked':''} type="radio">开启
                            </label>
                            <label class="radio-inline">
                              <input name="withdraw_status" value="0" {$setting['withdraw_status']==0?'checked':''} type="radio" >关闭
                            </label>
                          </div>
                     </div>
                     <div class="form-group ">
                          <label class="col-sm-2 control-label">最低提现金额：</label>
                          <div class="controls">
                           <input type="text" value="{$setting['withdraw_min_money']}" min=0  size="10" data-rule-required="true" data-rule-integer="true" name="withdraw_min_money">
                            <span class="help-line"> 金额必须达到最低提现金额，才能申请提现</span>
                          </div>
                     </div>
                      <div class="form-group ">
                          <label class="col-sm-2 control-label">最高提现金额：</label>
                          <div class="controls">
                           <input type="text" value="{$setting['withdraw_max_money']}" min=0  size="10" data-rule-required="true" data-rule-integer="true" name="withdraw_max_money">
                            <span class="help-line"> 单次提现金额不能超过此金额，才能申请提现</span>
                          </div>
                     </div>
                    <div class="form-group ">
                          <label class="col-sm-2 control-label">提现手续费：</label>
                          <div class="controls">
                           <input type="text" value="{$setting['withdraw_fee']}" min=0  size="10" data-rule-required="true" data-rule-money="true" name="withdraw_fee">
                            <span class="help-line"> %（注：如填1就是 代表每笔提现，收取提现金额1%的手续费）</span>
                          </div>
                     </div>
                     <div class="form-group ">
                          <label class="col-sm-2 control-label">最低手续费：</label>
                          <div class="controls">
                           <input type="text" value="{$setting['withdraw_fee_min']}" min=0  size="10" data-rule-required="true" data-rule-money="true" name="withdraw_fee_min">
                            <span class="help-line"> （注：单笔手续费计算出来小于该值时，则取该值）</span>
                          </div>
                     </div>
                     <div class="form-group ">
                          <label class="col-sm-2 control-label">最高手续费：</label>
                          <div class="controls">
                           <input type="text" value="{$setting['withdraw_fee_max']}" min=0  size="10" data-rule-required="true" data-rule-money="true" name="withdraw_fee_max">
                            <span class="help-line"> （注：单笔手续费计算出来大于该值时，则取该值,为0时则不限）</span>
                          </div>
                     </div>
                     <div class="form-group ">
                          <label class="col-sm-2 control-label">每日累计提现次数：</label>
                          <div class="controls">
                           <input type="text" value="{$setting['withdraw_num']|intval}" min=0  size="10" data-rule-required="true" data-rule-money="true" name="withdraw_num">
                            <span class="help-line"> （注：单人每日累计提现次数达到该值时，本日将不支持继续提现,为0时则不限）</span>
                          </div>
                     </div>
                </div>
                <div class="tab-pane " id="register">
                    <textarea rows="13" class="hd" data-toggle="kindeditor"  data-tongji="remain" data-tongji-target=".js_kindeditor_tongji" data-rule-rangelength="[1,50000]" data-rule-required="true" data-msg-required="注册协议不能为空"  name="register_agreement" style="visibility:hidden;">{$setting['register_agreement']}</textarea>   <p class="pull-right js_kindeditor_tongji">还可输入{0}字</p>


                </div>
           </div>
            <div class="line line-dashed line-lg pull-in"  style="width:99%;"></div>
             <div class="form-group">
                   <label class="control-label"></label>
                    <div class="controls">
                        <button type="submit" class="btn btn-primary" data-loading-text="保存中...">保存</button>
                        <button type="button" class="btn btn-default" data-toggle="back">取消</button>
                    </div>
             </div>
      </section>
</form>
</section>
{/block}