{extend name="mainadmin@layouts/base" /}

{block name="main" }
<header>
    <div class="page-breadcrumbs">
        <ul class="breadcrumb" >
         	<li>
                <i class="fa fa-ellipsis-v"></i>
                <strong>提成设置</strong>
            </li>                                  
          </ul> 
           <div style="float:right; padding-right:10px;">
           <a class="refresh" id="refresh-toggler" href=""><i class="fa fa-refresh"></i></a>
           </div>
     </div>
</header>
        <section class="scrollable  wrapper">
            <section class="panel panel-default">
             <form class="form-horizontal form-validate" method="post" action="{:url('save')}">
               <div class="form-group m-t">
                      <label class="col-sm-2 control-label">是否开启推荐：</label>
                      <div class="controls">
                        <label class="radio-inline">
                          <input name="status" value="0" {$Dividend['status']==0?'checked':''} type="radio" >停用
                        </label>
                        <label class="radio-inline">
                          <input name="status" value="1" {$Dividend['status']==1?'checked':''} type="radio">启用
                        </label>
                      </div>
                 </div>
                 
            
                <div class="form-group">
                          <label class="col-sm-2 control-label">结算时间间隔：</label>
                          <div class="col-sm-4 controls">
                           <input type="text" value="{$Dividend['settlement_day']|intval}" min=1  max="30" size="5" data-rule-required="true" data-rule-integer="true" name="settlement_day">
                            <span class="model_span">天（指定天数间隔返旅游豆）</span>
                          </div>
                      </div>
                 
                    
                    
                  
                      <div class="form-group">
                          <label class="col-sm-2 control-label">会员复购限制：</label>
                          <div class="col-sm-7 controls">
                           <input type="text" value="{$Dividend['repeat_buy_day']|intval}" min=1  max="30" size="5" data-rule-required="true" data-rule-integer="true" name="repeat_buy_day">
                            <span class="model_span">天（成为VIP及以上会员，从成会VIP会员的那天开始计算，达指定天数需要复购一次，否则不享受管理奖和平推奖资格）</span>
                          </div>
                      </div>
                     
                    <div class="line line-dashed line-lg pull-in"  style="width:99%;"></div>
                     <div class="form-group">
                            <label class="col-sm-2 control-label">分享海报：</label>
                            <div class="controls col-sm-6">                               
                                  <img class="thumb_img" src="{$share_bg}" style="max-height: 100px;" /><br>
                                  <input class="hide" type="text" name="share_bg" value="{$share_bg}" />
                                  <button class="btn btn-default" type="button" data-toggle="selectimg">选择分享背景图</button>
                          <span class="help-inline">建议图片尺寸：320*320像素</span><br>
                            </div>
                     </div>
                    
                     <div class="form-group">
                          <label class="col-sm-2 control-label"></label>
                          <button type="submit" class="btn btn-blue" data-loading-text="保存中...">保存</button>
                         
                    </div>
                 </form>
            </section>
        </section>
      
    </section>

{/block}