{extend name="mainadmin@layouts/base" /}
{block name="head" }
<link href="__STATIC__/main/css/stylesheets/uploadify/uploadify.min.css" rel="stylesheet"/>
<link href="__STATIC__/main/css/stylesheets/page/goods.css?v=1" rel="stylesheet"/>
{/block}
{block name="main" }

<header>
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-ellipsis-v"></i>
                <strong>分销设置</strong>
            </li>
        </ul>
        <div style="float:right; padding-right:10px;">
            <a class="refresh" id="refresh-toggler" href=""><i class="fa fa-refresh"></i></a>
        </div>
    </div>
</header>
<section class="scrollable  wrapper w-f">
    <form class="form-horizontal form-validate" id="_form" method="post" action="{:url('save')}">
        <section class="panel panel-default ">
            <header>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#basic" data-toggle="tab">基本配置</a></li>
<!--                    <li><a href="#bydividend" data-toggle="tab">分佣说明</a></li>-->
<!--                    <li><a href="#byrole" data-toggle="tab">身份升级说明</a></li>-->
<!--                    <li><a href="#byrolegoods" data-toggle="tab">购买身份商品协议</a></li>-->
                    <li><a href="#background" data-toggle="tab">分享海报</a></li>
                </ul>
            </header>

            <div class="tab-content ">
                <div class="tab-pane active" id="basic">
                    <div class="form-group m-t">
                        <label class=" control-label">身份升级机制：</label>
                        <div class="controls">
                            <label class="radio-inline">
                                <input name="level_up_type" value="0" {$Dividend['level_up_type']==0?'checked':''} type="radio">
                                逐级升级
                            </label>
                            <label class="radio-inline">
                                <input name="level_up_type" value="1" {$Dividend['level_up_type']==1?'checked':''} type="radio">
                                可跨级升级（满条件即可）
                            </label>
                        </div>
                    </div>
                    <div class="form-group m-t">
                        <label class=" control-label">是否开启推荐：</label>
                        <div class="controls">
                            <label class="radio-inline">
                                <input name="status" value="0" {$Dividend['status']==0?'checked':''} type="radio" >停用
                            </label>
                            <label class="radio-inline">
                                <input name="status" value="1" {$Dividend['status']==1?'checked':''} type="radio">启用
                            </label>
                            <span class="help-inline">（停用后，将不执行推荐关系绑定）</span>
                        </div>
                    </div>

                    <div class="form-group m-t">
                        <label class=" control-label">分享权限：</label>
                        <div class="controls">
                            <label class="radio-inline">
                                <input name="share_by_role" value="0" {$Dividend['share_by_role']==0?'checked':''}
                                type="radio"> 无需身份
                            </label>
                            <label class="radio-inline">
                                <input name="share_by_role" value="1" {$Dividend['share_by_role']==1?'checked':''}
                                type="radio"> 需分佣身份
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class=" control-label">佣金到帐时间：</label>
                        <div class="col-sm-8 controls">
                            <strong>{$shop_after_sale_limit==0?'订单签收到帐':$shop_after_sale_limit.'天'}</strong>
                            <span class="help-inline">（与订单申请售后时间一致，即签收后过了此时间即到帐，如需修改请前往【商城-商城设置】中修改）</span>

                        </div>
                    </div>

                </div>
                <div class="tab-pane " id="bydividend">
                    <div class="form-group">
                        <label class="control-label">是否显示：</label>
                        <div class="col-sm-9">
                            <label class="radio-inline">
                                <input name="setting[dividend_directions_status]" value="0" class="js_undertake"
                                       type="radio" {$setting['dividend_directions_status']|tplckval='=0','checked',true}>隐藏
                            </label>
                            <label class="radio-inline">
                                <input name="setting[dividend_directions_status]" value="1" class="js_undertake "
                                       type="radio" {$setting['dividend_directions_status']|tplckval='=1','checked'}>
                                显示
                            </label>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="form-group publicnote_status">
                        <label class="control-label">分佣说明：</label>
                        <div class="col-sm-9 " style="padding-left:0px;">
                            <textarea rows="8" class="input-max hd" data-toggle="kindeditor" data-config="simple"
                                      data-kdheight="150" data-tongji="remain"
                                      data-tongji-target=".js_kindeditor_tongji" data-rule-rangelength="[0,50000]" d
                                      name="setting[dividend_directions]" style="visibility:hidden;">{$setting.dividend_directions|raw}</textarea>
                            <p class="pull-right js_kindeditor_tongji">还可输入{0}字</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane " id="byrole">
                    <div class="form-group">
                        <label class=" control-label">是否显示：</label>
                        <div class="col-sm-9">
                            <label class="radio-inline">
                                <input name="setting[role_directions_status]" value="0" class="js_undertake"
                                       type="radio" {$setting['role_directions_status']|tplckval='=0','checked',true}>隐藏
                            </label>
                            <label class="radio-inline">
                                <input name="setting[role_directions_status]" value="1" class="js_undertake "
                                       type="radio" {$setting['role_directions_status']|tplckval='=1','checked'}>
                                显示
                            </label>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="form-group publicnote_status">
                        <label class="control-label">身份升级说明：</label>
                        <div class="col-sm-9 " style="padding-left:0px;">
                            <textarea rows="8" class="input-max hd" data-toggle="kindeditor" data-config="simple"
                                      data-kdheight="150" data-tongji="remain"
                                      data-tongji-target=".js_kindeditor_tongji" data-rule-rangelength="[0,50000]"
                                      name="setting[role_directions]" style="visibility:hidden;">{$setting.role_directions|raw}</textarea>
                            <p class="pull-right js_kindeditor_tongji">还可输入{0}字</p>
                        </div>
                    </div>

                </div>
                <div class="tab-pane " id="byrolegoods">
                    <div class="form-group ">
                        <label class="control-label">协议内容：</label>
                        <div class="col-sm-9 " style="padding-left:0px;">
                            <textarea rows="8" class="input-max hd" data-toggle="kindeditor" data-config="simple"
                                      data-kdheight="150" data-tongji="remain"
                                      data-tongji-target=".js_kindeditor_tongji_b" data-rule-rangelength="[0,50000]"
                                      name="setting[role_goods_directions]" style="visibility:hidden;">{$setting.role_goods_directions|raw}</textarea>
                            <p class="pull-right js_kindeditor_tongji_b">还可输入{0}字</p>
                        </div>
                    </div>
                </div>

                <div class="tab-pane " id="background">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">海报背景图片：</label>
                        <div class="col-sm-10">
                            <div class="js_upload_container">
                                <div class="js_file_upload ">
                                    <button type="button" class="btn btn-default js_new_upload" data-count="5" data-submitname="ShareBg" data-uploadpath="{:url('uploadShareBg')}"  data-delpath="{:url('removeImg')}"  style="position: relative; z-index: 1;">上传图片</button>
                                    <span class="maroon">*</span>
                                    <span class="help-inline"><small>建议尺寸：300*540,默认显示第1张图片，最多5张 (可拖拽图片调整显示顺序) </small></span>
                                </div>
                                <div class="uploadify-queue js_file_upload_queue">
                                </div>
                                <ul class="ipost-list ui-sortable js_fileList" data-required="true">
                                    {volist name="share_bg" id="shbg"  }
                                    <li class="imgbox"  data-path="{$shbg}">
                                        <a class="item_new_close item_close" href="javascript:void(0)" data-delpath="{:url('removeImg')}"  title="删除" ></a>
                                        <span class="item_box"><img src="{$shbg}"></span>
                                        <input type="hidden" name="ShareBg[path][]" value="{$shbg}">
                                    </li>
                                    {/volist}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="line line-dashed line-lg pull-in " style="width:99%;"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">头像位置：</label>
                        <div class="controls">
                            <input type="text" name="setting[share_avatar_xy]"  class="input-small" value="{$setting.share_avatar_xy}" placeholder="格式：x,y"> <span class="help-line">x：距离左边距离，y：距离顶部距离</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">头像宽度：</label>
                        <div class="controls">
                            <input type="text" name="setting[share_avatar_width]" data-rule-digits="true" data-rule-required="true" class="input-small" value="{$setting.share_avatar_width}" > <span class="help-line">(px)像素，只可输入数字</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">头像形状：</label>
                        <div class="controls">
                            <div class="controls">
                                <label class="radio-inline">
                                    <input name="setting[share_avatar_shape]" value="0" {$setting['share_avatar_shape']<=0?'checked':''} type="radio">圆形
                                </label>
                                <label class="radio-inline">
                                    <input name="setting[share_avatar_shape]" value="1" {$setting['share_avatar_shape']==1?'checked':''} type="radio" >方形
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">呢称位置：</label>
                        <div class="controls">
                            <input type="text" name="setting[share_nick_name_xy]"  class="input-small" value="{$setting.share_nick_name_xy}" placeholder="格式：x,y"> <span class="help-line">x：距离左边距离，y：距离顶部距离</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">呢称颜色：</label>
                        <div class="controls minicolors minicolors-theme-bootstrap minicolors-position-bottom minicolors-position-left">
                            <input type="text" name="setting[share_nick_name_color]" class="form-control colorpicker minicolors-input" style="padding-left: 30px;" data-control="hue" value="{$setting.share_nick_name_color}" size="7">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">呢称字体大小：</label>
                        <div class="controls">
                            <input type="text" name="setting[share_nick_name_size]" data-rule-digits="true" data-rule-required="true" class="input-small" value="{$setting.share_nick_name_size}" placeholder=""> <span class="help-line">(px)像素，只可输入数字</span>
                        </div>
                    </div>

                    <div class="line line-dashed line-lg pull-in " style="width:99%;"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">二维码位置：</label>
                        <div class="controls">
                            <input type="text" name="setting[share_qrcode_xy]"  class="input-small" value="{$setting.share_qrcode_xy}" placeholder="格式：x,y"> <span class="help-line">x：距离左边距离，y：距离顶部距离</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">二维码宽度：</label>
                        <div class="controls">
                            <input type="text" name="setting[share_qrcode_width]" data-rule-digits="true" data-rule-required="true" class="input-small" value="{$setting.share_qrcode_width}" > <span class="help-line">(px)像素，只可输入数字</span>
                        </div>
                    </div>
                    <div class="line line-dashed line-lg pull-in " style="width:99%;"></div>
                    <div class="form-group">
                        <div class="controls col-sm-offset-1">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">推广码位置：</label>
                        <div class="controls">
                            <input type="text" name="setting[share_token_xy]"  class="input-small" value="{$setting.share_token_xy}" placeholder="格式：x,y"> <span class="help-line">x：距离左边距离，y：距离顶部距离</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">推广码颜色：</label>
                        <div class="controls minicolors minicolors-theme-bootstrap minicolors-position-bottom minicolors-position-left">
                            <input type="text" name="setting[share_token_color]" class="form-control colorpicker minicolors-input" style="padding-left: 30px;" data-control="hue" value="{$setting.share_token_color}" size="7">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">推广码大小：</label>
                        <div class="controls">
                            <input type="text" name="setting[share_token_size]" data-rule-digits="true" data-rule-required="true" class="input-small" value="{$setting.share_token_size}" placeholder=""> <span class="help-line">(px)像素，只可输入数字</span>
                        </div>
                    </div>
                    <div style="width:30%; max-width: 500px; position: absolute; top:50px; right: 5%;">
                        <button type="button" class="btn btn-blue" id="show_share_img" >点击预览效果</button><span class="help-inline">此项只是预览，要保存后才能生效.</span>
                        <a href="/upload/share_bg/test_share.jpg" target="_blank"><img id="shareimg" src="/upload/share_bg/test_share.jpg" style="width: 100%;"></a>
                    </div>
                </div>
            </div>

        </section>
    </section>
    <footer class="footer bg-white b-t p-t">
        <div class="form-group">
            <div class="controls  col-sm-offset-1">
            <button type="submit" class="btn btn-blue" data-loading-text="保存中...">保存</button>
            </div>
        </div>
    </footer>
</form>

<script type="text/javascript">
    var arrival_code = Math.ceil(Math.random() * 1000) + 1000;
    $('#sarrival_code_em').html(arrival_code);
    $('#evalArrival').click(function () {
        var _arrival_code = $('#arrival_code').val();
        if (_arrival_code == '') {
            _alert('请输入校验码，后再操作.', true);
            return false;
        }
        if (_arrival_code != arrival_code) {
            _alert('校验码为' + arrival_code + '，请核实输入是否正确.', true);
            return false;
        }
        _confirm('确定执行 - 手动执行结算？', function () {
            jq_ajax('{:url("evalArrival")}', '', function (res) {
                _alert(res.msg, true);
            });
        });
    })
    $('#show_share_img').click(function () {
        var obj = this;
        $(obj).html('预览图生成中..');
        var data = $('#_form').toJson();
        jq_ajax('{:url("mergeShareImg")}',data,function(){
            $(obj).html('点击预览效果');
            $('#shareimg').attr('src','/upload/share_bg/test_share.jpg?'+ Math.random());
        })
    })
</script>

{/block}
{block name="footer" }
<script src="__STATIC__/js/colorpicker/jquery.minicolors.js"></script>
<script type="text/javascript">
    //--jQuery MiniColors--
    $('.colorpicker').each(function () {
        $(this).minicolors({
            control: $(this).attr('data-control') || 'hue',
            defaultValue: $(this).attr('data-defaultValue') || '',
            inline: $(this).attr('data-inline') === 'true',
            letterCase: $(this).attr('data-letterCase') || 'lowercase',
            opacity: $(this).attr('data-opacity'),
            position: $(this).attr('data-position') || 'bottom left',
            change: function (hex, opacity) {
                if (!hex) return;
                if (opacity) hex += ', ' + opacity;
                try {
                    console.log(hex);
                } catch (e) { }
            },
            theme: 'bootstrap'
        });

    });
    seajs.use(["dist/plupload/init.js", "dist/goods/init.js"])
</script>
{/block}
