<table class="table table-bordered table-striped ">
<thead class="flip-content bordered-palegreen">
<thead>
<tr>
    <th width="50">ID</th>
    <th width="120">模板名称</th>
    <th width="120">模板ID</th>
    <th>短信内容</th>
    <th width="60">操作</th>
</tr>
</thead>
<tbody>

{volist name="data.list" id="vo" }

<tr>
    <td>{$vo.tpl_id}</td>
    <td>{$vo.sms_tpl_name}</td>
    <td>{$vo.sms_tpl_code}</td>
    <td>{$vo.tpl_content}</td>
	<td>
<a href="{:url('info',['tpl_id'=>$vo['tpl_id']])}" data-toggle="ajaxModal" title="编辑" class="fa fa-edit text-muted m-xs" ></a>
    </td>
</tr>

{/volist} 
</tbody>
</table>
{empty name="data.list"}
<table width="100%" >
 	<tr><td height="300" colspan="8" align="center" valign="middle" >没有相关数据！</td></tr>
</table>
{/empty}  