{extend name="mainadmin@layouts/base" /}
{block name="head" }
<link href="__STATIC__/main/css/stylesheets/uploadify/uploadify.min.css" rel="stylesheet"/>
<link href="__STATIC__/main/css/stylesheets/page/goods.css?v=1" rel="stylesheet"/>
{/block}
{block name="main" }

<header class="header  b-b clearfix">
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-ellipsis-v"></i>
                <strong>帐号管理</strong>
            </li>                                  
        </ul>
        <a class="text-muted pull-right m-r-tm m-t-md pointer" data-toggle="back" title="返回"><i class="fa fa-reply"></i></a>
    </div>
</header>
<section class="scrollable  wrapper">
    <form class="form-horizontal form-validate" method="post" action="{:url('info')}" style="padding:0;">
        <section class="panel panel-default">
            <div class="panel-body">
                <div class="form-group ">
                    <label class="col-sm-2 control-label">交易时间范围：</label>
                    <div class="controls">
                        <input type="text" value="{$row['trade_start_time']}" class="input-small" name="trade_start_time"> -
                        <input type="text" value="{$row['trade_end_time']}" class="input-small" name="trade_end_time">
                        <span class="help-line"> （注：请填写规范,最少精确到分钟 如9:30:29 17:00）</span>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-sm-2 control-label">挂卖价格交易范围：</label>
                    <div class="controls">
                        <input type="text" value="{$row['trade_min_num']}" class="input-small" name="trade_min_num"> -
                        <input type="text" value="{$row['trade_max_num']}" class="input-small" name="trade_max_num">
                        <span class="help-line"> （注：请填写规范数字）</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">预约所需信用积分</label>
                    <div class="controls">
                        <input type="text" class="input-max" data-rule-maxlength="10" data-rule-required="true" data-msg-required="预约所需信用积分" name="scribe_integral" value="{$row['scribe_integral']}" >
                    </div>
                </div>
               
                <div class="line line-dashed line-lg pull-in"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button type="submit" class="btn btn-primary" data-loading-text="保存中...">保存</button>
                        <button type="button" class="btn btn-default" data-toggle="back">取消</button>
                    </div>
                </div>
            </div>
        </section>
        <input name="id" type="hidden" value="{$row.id|intval}">
    </form>
</section>
{/block}
{block name="footer" }
<script type="text/javascript">
    seajs.use(["dist/plupload/init.js"]);
</script>
{/block}

