<table class="table  table-hover  m-b-none">
<thead>
<tr>
    <th width="150">结算日期</th>
    <th width="150">签收订单数</th>
    <th width="150" >签收商品数</th>
    <th width="150">售后单数</th>
    <th width="150">售后商品数</th>
    <th width="150">签收结算金额</th>
    <th width="150">售后金额</th>
    <th width="150">结算金额</th>
    <th width="150">状态</th>
    <th width="100">操作</th>
</tr>
</thead>
<tbody>
{volist name="data.list" id="vo" }
<tr>
    <td>{$vo.settle_date}</td>
    <td>{$vo.sale_order_num}</td>
    <td>{$vo.sale_goods_num}</td>
    <td>{$vo.sale_goods_amount}</td>
    <td>{$vo.after_sale_order_num}</td>
    <td>{$vo.after_sale_goods_num}</td>
    <td>{$vo.after_sale_amount}</td>
    <td>{$vo.settle_amount}</td>
    <td>{$status[$vo['status']]}</td>
    <td>
        {if condition="$vo['status'] == 0"}
        <a data-msg="确定无误，认领结算单？"
           data-remote="{:url('check',array('settle_id'=>$vo['settle_id']))}"
           data-toggle="ajaxCurl" class="btn btn-primary fr" >认领结算单</a>
        {else}
            --
        {/if}
    </td>
</tr>
{/volist} 
</tbody>
</table>
{empty name="data.list"}
<table width="100%" >
 	<tr><td height="300" colspan="8" align="center" valign="middle" >没有相关数据！</td></tr>
</table>
{/empty}  