<table class="table table-bordered  table-hover ">
<thead class="flip-content bordered-palegreen">
<tr>
    <th width="60">ID</th>
    <th width="120">商品编号</th>
    <th>商品名</th>
    <th width="80">价格</th>
    <th width="100">成团人数</th>
    <th width="100">状态</th>
    <th width="150">开始时间</th>
    <th width="150">结束时间</th>
    <th width="80">操作</th>
</tr>
</thead>
<tbody>
{volist name="data.list" id="vo" }
    <tr>
        <td>{$vo.gid}</td>
      	<td>{$vo['is_spec']==0?$vo['goods_sn']:'多规格'}</td>
        <td>{$vo.goods_name}</td>
        <td align="center">{$vo.show_price}</td>
        <td align="center">{$vo.order_num}/{$vo.success_num}</td>
        <td align="center">
          {$fg_order[$vo['status']]}
        </td>
        <td align="center">{$vo.add_time|dateTpl}</td>
        <td align="center">{$vo.fail_time|dateTpl}</td>
        <td align="center">
        	<a href="{:url('info',array('gid'=>$vo['gid']))}"  title="查看" class="fa fa-search m-xs" ></a>
        </td>
    </tr>
{/volist}
</tbody>
</table>
{empty name="data.list"}
<table width="100%" >
 	<tr><td height="300" colspan="8" align="center" valign="middle" >没有相关数据！</td></tr>
</table>
{/empty}  