{extend name="mainadmin@layouts/base" /}
{block name="main" }

<header class="header  b-b clearfix">
   <div class="page-breadcrumbs">
          <ul class="breadcrumb">
              <li>
                  <i class="fa fa-ellipsis-v"></i>
                  <strong>编辑文章</strong>
              </li>                                  
          </ul>
       <a class="text-muted pull-right m-r-tm m-t-md pointer" data-toggle="back" title="返回"><i class="fa fa-reply"></i></a>
      </div>
</header>

<section class="scrollable  wrapper">
<form class="form-horizontal form-validate" method="post" action="{:url('info')}" style="padding:0;">
      <section class="panel panel-default">
          <header class="panel-heading bg-light">
              基本信息
          </header>
          <div class="panel-body">  
              <div class="form-group">
                  <label class="control-label">文章分组</label>
                  <div class="controls w250 must">
                     <select class="wb80 " name="cid" data-maxcount="3" data-msg-required="请选择文章分组" data-toggle="select2" data-placeholder="请选择文章分组" data-width="999px">
                       <option value=""></option>
                       
                         {$catOpt|raw}
                                                      
                      </select>
                  </div>
                 
              </div>

            
        <div class="line line-dashed line-lg pull-in"></div>
              <div class="form-group">
                  <label class="control-label">文章标题</label>
                  <div class="controls" >
                      <input type="text" class="input-xlarge" data-rule-maxlength="40" data-rule-required="true" data-msg-required="文章标题不能为空" name="title" value="{$row.title}" >
                  </div>
              </div>
            
           <div class="form-group">
                  <label class="control-label">标题图片</label>
                  <div class="col-sm-8 must" >
                     <img class="thumb_img" name="imagefile" src="{$row.img_url}" style="max-height: 100px;" />
                      <input class="hide" type="text" name="img_url" value="{$row.img_url}" />
                      <button class="btn btn-default" type="button" data-toggle="selectimg" data-config="selectimg">选择图片</button>
                      <div style="color:red;margin-top:0.5rem">(请上传500*500的图片)</div>
                  </div>
              </div>

              <div class="form-group">
                  <label class="control-label">链接类型</label>
                  <div class="col-sm-2" >
                      <select id="link_type" name="link_type" onChange="showUrlType(this,0);" class="input-medium" style="width:200px;">
                          <option value="">不需要绑定</option>
                          {$WeixinReplyType|raw}
                      </select>
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label">绑定链接关联</label>
                  <div class="col-sm-4" >
                      <input name="link_data" id="link_data" class="input-xlarge"  type="text" value="{$row.link_data}">
                      <input name="link_ext_id" id="link_ext_id" type="hidden" value="{$row.link_ext_id}">
                      <a href="javascript:;" data-remote="{:url("mainadmin/article/searchBox")}" data-toggle="ajaxModal" class="type_bding_btn btn btn-sm btn-default {$row['bind_type']=='article'?'':'hide'}" id="article_btn" >绑定文章</a>
                      <a href="javascript:;" data-remote="{:url("shop/sys_admin.goods/searchBox")}" data-toggle="ajaxModal" class="type_bding_btn btn btn-sm btn-default {$row['bind_type']=='goods'?'':'hide'}" id="goods_btn" >绑定商品</a>
                      <a href="javascript:;" data-url="{:url('publics/sys_admin.links/index')}" data-toggle="iframeModal" class="type_bding_btn btn btn-sm btn-default {$row['bind_type']=='link'?'':'hide'}" id="link_btn"  >绑定URL</a>
                  </div>
              </div>
          


              <div class="line line-dashed line-lg pull-in"></div>
              <div class="form-group">
                  <label class="control-label">文章内容</label>
                  <div class="controls wb80">
                      <textarea rows="13" class="hd" data-toggle="kindeditor"  data-tongji="remain" data-tongji-target=".js_kindeditor_tongji" data-rule-rangelength="[1,50000]" data-rule-required="true" data-msg-required="文章内容不能为空"  name="content" style="visibility:hidden;">{$row.content}</textarea>   <p class="pull-right js_kindeditor_tongji">还可输入{0}字</p>

                  </div>
              </div>
           </div>
      </section>
    

      <section class="panel panel-default">
          <header class="panel-heading bg-light">
              其他信息
          </header>
         
             <div class="line line-dashed line-lg pull-in"></div>
             <div class="form-group">
                  <div class="controls" >
                  <label class="control-label">关键字</label>
                     <input type="text" class="input-xlarge"  name="keywords" value="{$row.keywords}" >
                   <span class="help-inline">填写用空格分开</span>
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label">文章简介</label>
                  <div class="controls" >
                      <textarea name="description"  class="input-xxlarge" >{$row.description}</textarea>
                  </div>
              </div>
             <div class="form-group">
                  <label class="control-label">发布时间</label>
                  <div class="input-group w150" > <input type="text" class="input-medium" name="add_time" value="{$row.add_time|dateTpl}" id="solddate" data-after="#groundingdate" data-offsetday="0" readonly="readonly" data-toggle="datetimepicker" data-position="top-right"/><span class="input-group-addon"><i class="fa fa-calendar"></i></span></div> 
                 
              </div>
              <div class="line line-dashed line-lg pull-in"></div>
              <div class="form-group">
                  <div class="col-sm-4 col-sm-offset-2">
                      <button type="submit" class="btn btn-primary" data-loading-text="保存中...">保存</button>
                      <button type="button" class="btn btn-default" data-toggle="back">取消</button>
                  </div>
              </div>
          </div>

      </section>

	<input name="id" type="hidden" value="{$row.id|intval}">
</form>
</section>
{/block}

{block name="footer" }
<script type="text/javascript">
    seajs.use("dist/plupload/init.js")

    function showUrlType(sel,input_id){
        $(".type_bding_btn").addClass('hide');
        $("#link_data").val('');
        $("#link_ext_id").val(0);
        if (sel.value == 'article') $("#article_btn").removeClass('hide');
        else if (sel.value == 'link'){
            $("#link_data").val('http://');
            $("#link_btn").removeClass('hide');
        }
        else if (sel.value == 'goods') $("#goods_btn").removeClass('hide');
        else if (sel.value == 'activity') $("#activity_btn").removeClass('hide');
    }
    function assigBack(type,type_id,id,title,tid){
        $("#link_ext_id").val(id);
        $("#link_data").val(title);
    }
    var McMore = {
        selectUrlCallback: function (url,type,type_id) {
            $("#link_data").val(url);
            $(".modal-dialog .close").trigger("click");
        }
    }
</script>
{/block}
