{extend name="mainadmin@layouts/base" /}
{block name="main" }

<header class="header  b-b clearfix">
    <form id="forms" class="talbe-search form-inline "  method="post" action="{:url($is_cancel==true?'trashList':'getList')}" >
     <div class="page-breadcrumbs">
            <ul class="breadcrumb" >
                <li>
                    <i class="fa fa-ellipsis-v"></i>
                    <strong>{$title}</strong>
                </li>                                  
            </ul>
         <select name="as_type" style="width: 150px;" data-toggle="select2" data-change="submit">
             <option value="all" {$as_type=='all'?'selected':''}>全部售后</option>
             <option value="platform" {$as_type=='platform'?'selected':''}>平台售后</option>
             <option value="supplyer" {$as_type=='supplyer'?'selected':''}>供应商售后</option>
         </select>
         <div class="form-group">
             <a class="btn btn-default " data-toggle="reportrange" data-change="submit">
                 <i class="fa fa-calendar fa-lg"></i>
                 <small>售后时间</small>
                 <span></span> <b class="caret"></b>
                 <input type="hidden" value="{$start_date} - {$end_date}" id="reportrange" name="reportrange" />
             </a>
         </div>
         <input type="hidden" name="listType" value="{$listType}">
         <select name="searchBy" style="width: 150px;" data-toggle="select2" >
             <option value="as_sn" >售后编号</option>
             <option value="order_sn" >订单编号</option>
             <option value="shipping_no">退货快递单号</option>
             <option value="user_id" >会员ID</option>
             <option value="goods_sn">商品SN</option>
         </select>

          <input type="text" class="form-control input-large" value="{$search.keyword}" name="keyword" placeholder="输入相关内容筛选" data-rule-required="true" />
           <button class="btn btn-sm btn-default-iq" type="submit" title="搜索"><i class="fa fa-search"></i></button>

    </div>
</form>
</header>

<section class="scrollable wrapper w-f ">
    <section class="panel panel-default ">
        <div class="table-responsive " id="list_box">
            {include file="shop@sys_admin/after_sale/list" /}
        </div>

    </section>
</section>

{/block}

{block name="footer" }

{/block}
