<table class="table  table-hover  m-b-none">
<thead>
<tr>
    <th>商品信息</th>
    <th width="150" >类型</th>
    <th width="150" >商品数量</th>
    <th width="150" >退货原因</th>
    <th width="150">退款金额</th>
    <th width="150">状态</th>
    <th width="100">操作</th>
</tr>
</thead>
<tbody>
{volist name="data.list" id="vo" }
<tr>
    <td colspan="6"><span class="m-r">售后编号：{$vo.as_sn}</span>
        <span class="m-r">下单时间：{$vo.add_time|dateTpl}</span>
        <span class="m-r">订单编号：{$vo.order_sn}</span>
        <span class="m-r">会员ID：{$vo.user_id}</span>
    </td>
</tr>
<tr>
 
    <td>
        <ul class="list-group no-borders">

            <li class="list-group-item ">
                <div class="media">
                    <span class="pull-left thumb-sm">
                        <img src="{$vo.goods.pic}" ></span>

                    <div class="media-body">
                        <div style="color:#999;">{$vo.goods.goods_name} {$vo.goods.sku_name}</div>
                        <small class="text-muted">单价： {$vo.goods.sale_price|priceFormat}<span class="m-l-xs"></span></small>
                    </div>
                </div>
            </li>

        </ul>
    </td>
    <td>
        <p class=" m-b-xs">
             {$as_type[$vo['type']]}
        </p>
    </td>
    <td>
        <p class=" m-b-xs">
            {$vo.goods_number}
        </p>
    </td>
    <td>
        <p class=" m-b-xs">
            {$vo.return_desc}
        </p>
    </td>
    <td>
        ￥{$vo.return_money}
    </td>
    <td>
        <p><p> {$orderLang['os'][$vo['order_status']]|raw}</p><p>{$orderLang['ps'][$vo['pay_status']]|raw}</p></p>
        <p>
           {$as_status[$vo['status']]}
        </p>
    </td>
    <td><a href="{:url('info',array('list_type'=>$listType,'as_id'=>$vo['as_id']))}" class="btn btn-sm btn-default fr" title="查看详情">
        <i class="fa fa-search "></i>详情</a></td>
</tr>
{/volist} 
</tbody>
</table>
{empty name="data.list"}
<table width="100%" >
 	<tr><td height="300" colspan="8" align="center" valign="middle" >没有相关数据！</td></tr>
</table>
{/empty}  