{extend name="mainadmin@layouts/base" /}
{block name="head" }
<link href="__STATIC__/main/css/stylesheets/uploadify/uploadify.min.css" rel="stylesheet"/>
<style type="text/css">
    body{
        overflow: auto!important;  
    }
</style>
{/block}
{block name="main" }
<header class="header  b-b clearfix">
    <div class="page-breadcrumbs">
        <ul class="breadcrumb" >
            <li>
                <i class="fa fa-ellipsis-v"></i>
                <strong>商城设置</strong>
            </li>                                  
        </ul>
    </div>
</header>
<form class="form-horizontal form-validate" method="post" action="{:url('save')}">
    <section class="scrollable  wrapper w-f">
        <section class="panel panel-default">
            <header>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#basic" data-toggle="tab">抢购设置</a></li>
                    <li ><a href="#credit_integral" data-toggle="tab">信用评分设置</a></li>
                    <li ><a href="#sell_explain" data-toggle="tab">挂售详情说明</a></li>
                    <li ><a href="#appeal_explain" data-toggle="tab">申诉注意事项</a></li>
                    <li ><a href="#information_article" data-toggle="tab">文章说明</a></li>
                </ul>
            </header>
            <div class="tab-content">
                <div class="tab-pane active" id="basic">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">抢购前五分钟</label>
                        <div class="controls">
                            <input type="text" name="stop_booking_time"  class="input-large" value="{$setting.stop_booking_time}"> <span class="help-line">分钟停止预约</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">交易时间结束后</label>
                        <div class="controls">
                            <input type="text" name="lottery_time"  class="input-large" value="{$setting.lottery_time}"> <span class="help-line">分钟开奖</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">买家</label>
                        <div class="controls">
                            <input type="text" name="cancel_time"  class="input-large" value="{$setting.cancel_time}"> <span class="help-line">分钟未打款,交易取消,封号处理</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">买家打款后,卖家</label>
                        <div class="controls">
                            <input type="text" name="complete_time"  class="input-large" value="{$setting.complete_time}"> <span class="help-line">分钟未确认收款,交易自动完成</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">延迟交易每次延迟</label>
                        <div class="controls">
                            <input type="text" name="delay_time"  class="input-large" value="{$setting.delay_time}"> <span class="help-line">分钟</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">出售叮叮手续费为</label>
                        <div class="controls">
                            <input type="text" name="service_charge"  class="input-large" value="{$setting.service_charge}"> <span class="help-line">%,比如出售200个DDB,手续费1%,就是转换成198个叮叮</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">叮叮每天每次最低挂售</label>
                        <div class="controls">
                            <input type="text" name="min_number"  class="input-large" value="{$setting.min_number}"> <span class="help-line"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">叮叮每天每次最高挂售</label>
                        <div class="controls">
                            <input type="text" name="max_number"  class="input-large" value="{$setting.max_number}"> <span class="help-line"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">叮叮每天最多挂售总额</label>
                        <div class="controls">
                            <input type="text" name="max_total_number"  class="input-large" value="{$setting.max_total_number}"> <span class="help-line"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">叮叮每天最多挂售</label>
                        <div class="controls">
                            <input type="text" name="max_second"  class="input-large" value="{$setting.max_second}"> <span class="help-line">次</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">抢购未交易情况:第一次</label>
                        <div class="controls">
                            <input type="text" name="one_no_deal" class="input-large" value="{$setting.one_no_deal}"> <span class="help-line">天内所有矿机停止产币,且停止所有货币交易,第二次</span>
                        </div>
                        <div class="controls">
                            <input type="text" name="two_no_deal" class="input-large" value="{$setting.two_no_deal}"> <span class="help-line">天,第三次永久封号</span>
                        </div>
                    </div>
<!--                    <div class="form-group">-->
<!--                        <label class="col-sm-2 control-label">抢到货币后</label>-->
<!--                        <div class="controls">-->
<!--                            <input type="text" name="valid_trade_time" class="input-mini" value="{$setting.valid_trade_time}"> <span class="help-line">分钟后未交易,会出现延迟</span>-->
<!--                            <input type="text" name="delay_trade_time" class="input-mini" value="{$setting.delay_trade_time}"> <span class="help-line">分钟的交易按钮,按钮只出现</span>-->
<!--                            <input type="text" name="delay_button_time" class="input-mini" value="{$setting.delay_button_time}"> <span class="help-line">分钟;如({$setting.valid_trade_time})分钟后,或延迟({$setting.delay_trade_time})分钟后还未交易则封号处理</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label class="col-sm-2 control-label">交易结束后</label>-->
<!--                        <div class="controls">-->
<!--                            <input type="text" name="valid_appeal_time"  class="input-large" value="{$setting.valid_appeal_time}"> <span class="help-line">分钟内,用户可进行申诉</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label class="col-sm-2 control-label">恶意申诉的,第一次直接封号</label>-->
<!--                        <div class="controls">-->
<!--                            <input type="text" name="malice_appeal"  class="input-large" value="{$setting.malice_appeal}"> <span class="help-line">天处理,第二次永久封号处理</span>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">封号一次扣</label>
                        <div class="controls">
                            <input type="text" name="deduction_use_integral"  class="input-large" value="{$setting.deduction_use_integral}"> <span class="help-line">信用积分</span>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="usdt_wallet">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">USDT主钱包地址：</label>
                        <div class="controls">
                            <input type="text" name="usdt_main_adress" class="input-large" value="{$setting.usdt_main_adress}"> <span class="help-line">USDT主钱包地址</span>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="gold_entry">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">USDT与BTEH日返：</label>
                        <div class="controls">
                            <label class="radio-inline">
                                <input name="return_switch" value="0" {$setting['return_switch']==0?'checked':''} type="radio">关闭
                            </label>
                            <label class="radio-inline">
                                <input name="return_switch" value="1" {$setting['return_switch']==1?'checked':''} type="radio" >开启
                            </label>
                            <span class="help-line">关闭USDT与BTEH将不执行返还,开启后接着返</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">入金下限：</label>
                        <div class="controls">
                            <input type="number" name="gold_entry_min" class="input-large" value="{$setting.gold_entry_min}">
                            <span class="help-line">入金金额小于该值不可入金，0表示不设下限</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">入金上限：</label>
                        <div class="controls">
                            <input type="number" name="gold_entry_max" class="input-large" value="{$setting.gold_entry_max}"> 
                            <span class="help-line">入金金额大于该值按上限入金，0表示不设上限</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">排队期：</label>
                        <div class="controls">
                            <input type="number" name="gold_entry_lineup_days" class="input-large" value="{$setting.gold_entry_lineup_days}"> <span class="help-line">天 </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">动态奖冻结：</label>
                        <div class="controls">
                            <input type="number" name="dynamic_award_frozen_days" class="input-large" value="{$setting.dynamic_award_frozen_days}"> <span class="help-line"> 天 注:入金到期后X天不复投将暂停动态奖</span>
                        </div>
                    </div>
                    <div class="line line-dashed line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">第一轮返还期：</label>
                        <div class="controls">
                            <input type="number" name="gold_entry_one_return" class="input-large" value="{$setting.gold_entry_one_return}"> <span class="help-line">天 该天数内待返USDT统一返到余额</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">第一轮入金期：</label>
                        <div class="controls">
                            <input type="number" name="gold_entry_one_frozen" class="input-large" value="{$setting.gold_entry_one_frozen}"> <span class="help-line">天 入金期有入金下一笔待返USDT返到余额,没有入金返到冻结金额</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">第一轮自返奖：</label>
                        <div class="controls">
                            <input type="number" name="gold_reward_1" class="input-large" value="{$setting.gold_reward_1}"> <span class="help-line">% 每日返还给自己的奖励，以充值金额为基数</span>
                        </div>
                    </div>
                    <div class="line line-dashed line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">第二轮返还期：</label>
                        <div class="controls">
                            <input type="number" name="gold_entry_two_return" class="input-large" value="{$setting.gold_entry_two_return}"> <span class="help-line">天 该天数内待返USDT统一返到余额</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">第二轮入金期：</label>
                        <div class="controls">
                            <input type="number" name="gold_entry_two_frozen" class="input-large" value="{$setting.gold_entry_two_frozen}"> <span class="help-line">天 入金期有入金下一笔待返USDT返到余额,没有入金返到冻结金额</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">第二轮自返奖：</label>
                        <div class="controls">
                            <input type="number" name="gold_reward_2" class="input-large" value="{$setting.gold_reward_2}"> <span class="help-line">% 每日返还给自己的奖励，以充值金额为基数</span>
                        </div>
                    </div>
                    <div class="line line-dashed line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">入金赠送BTEH：</label>
                        <div class="controls">
                            <input type="number" name="gold_entry_give_bteh" class="input-large" value="{$setting.gold_entry_give_bteh}"> <span class="help-line">% 以充值金额为基数</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">日返BTEH：</label>
                        <div class="controls">
                            <input type="number" name="bteh_daily_return" class="input-large" value="{$setting.bteh_daily_return}"> <span class="help-line">个</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">USDT管理奖资格：直推</label>
                        <div class="controls">
                            <input type="number" name="usdt_manage_return" class="input-large" value="{$setting.usdt_manage_return}"> <span class="help-line">个V0及以上会员</span>
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <label class="col-sm-2 control-label">1USDT=</label>
                        <div class="controls">
                            <input type="text" name="USDT_RMB" class="input-large" value="{$setting.USDT_RMB}"> <span class="help-line">RMB 该设置在会员选择充值金额时自动换算</span>
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">充值金额</label>
                        <div class="controls" id="rechargeMoneyList">
                            <button type="button" class="btn btn-default " onClick="addRechargeMoney();" style="margin-bottom: 1%">增加充值金额</button>
                            <span class="help-line">该设置在会员充值时选择充值金额</span><br/>

                            {volist name="setting.rechargeMoneyList" id="vo" }
                            <div>
                                <input type="text" name="rechargeMoneyList[]" class="input-large" value="{$vo}">
                                <button type="button" class="btn btn-default " onClick="delRechargeMoney(this);" style="margin-bottom: 1%;margin-left:1%">删除</button><br/>
                            </div>
                            {/volist}

                        </div>
                    </div>
                    <div class="help-inline ">其他奖励参数可在：分销-><a href="{:url('distribution/sys_admin.role/index')}">分销身份</a> 设置</div>
                </div>
                <div class="tab-pane " id="awards">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">分享收益</label>
                        <div class="controls" id="shareAwards">
                            <button type="button" class="btn btn-default " onClick="addShareAwards();" style="margin-bottom: 1%">增加设置</button>
                            <span class="help-line">直推量请从小到大设置</span><br/>

                            {volist name="setting.shareAwards" id="vo" }
                            <div>
                                直推量 <input type="text" name="shareAwards[num][]" style="width:10%" value="{$vo.num}"> 台 
                                分享代数 <input type="text" name="shareAwards[layer][]" style="width:10%" value="{$vo.layer}"> 代 
                                收益比例 <input type="text" name="shareAwards[ratio][]" style="width:10%" value="{$vo.ratio}"> % 
                                <button type="button" class="btn btn-default" onClick="delShareAwards(this);" style="margin-bottom: 1%;margin-left:2.3%">删除</button><br/>
                            </div>
                            {/volist}
                        </div>
                    </div>
                </div>
                <div class="tab-pane " id="trade_team">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">社区收益</label>
                        <div class="controls" id="tradeTeams">
                            <button type="button" class="btn btn-default " onClick="addTradeTeams();" style="margin-bottom: 1%">增加设置</button>
                            <span class="help-line">直推量请从小到大设置</span><br/>

                            {volist name="setting.traderTeams" id="vo" }
                            <div>
                                直推矿机 <input type="text" name="traderTeams[num][]" style="width:10%" value="{$vo.num}"> 台
                                团队有效矿机 <input type="text" name="traderTeams[layer][]" style="width:10%" value="{$vo.layer}"> 台
                                收益比例 <input type="text" name="traderTeams[ratio][]" style="width:10%" value="{$vo.ratio}"> %
                                <button type="button" class="btn btn-default" onClick="delTradeTeams(this);" style="margin-bottom: 1%;margin-left:2.3%">删除</button><br/>
                            </div>
                            {/volist}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">社区收益的基数是自己团队交易手续费的</label>
                        <div class="controls">
                            <input type="text" name="trade_ratio"  class="input-large" value="{$setting.trade_ratio}"> <span class="help-line">%</span>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="credit_integral">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">推荐奖励</label>
                        <div class="controls">
                            <input type="text" name="recom_award_integral" class="input-large" value="{$setting.recom_award_integral}"> <span class="help-line">下级实名并上传收款码后增加信用评分；</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">预约抢购扣除</label>
                        <div class="controls">
                            <input type="text" name="subscribe_rob"  class="input-large" value="{$setting.subscribe_rob}"> <span class="help-line">预约成功有抢购信用积分退回账户，预约没抢购不退还；</span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">封号扣除</label>
                        <div class="controls">
                            <input type="text" name="frozen_deduct"  class="input-large" value="{$setting.frozen_deduct}"> <span class="help-line">积分</span>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="sell_explain">
                    <div class="form-group publicnote_status">
                        <label class="control-label">挂售详情说明：</label>
                        <div class="col-sm-9 " style="padding-left:0px;">
                            <textarea rows="8" class="input-max hd" data-toggle="kindeditor" data-config="simple"
                                      data-kdheight="150" data-tongji="remain"
                                      data-tongji-target=".js_kindeditor_tongji" data-rule-rangelength="[0,50000]"
                                      name="sell_explain" style="visibility:hidden;">{$setting.sell_explain|raw}</textarea>
                            <p class="pull-right js_kindeditor_tongji">还可输入{0}字</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="appeal_explain">
                    <div class="form-group publicnote_status">
                        <label class="control-label">申诉注意事项：</label>
                        <div class="col-sm-9 " style="padding-left:0px;">
                        <textarea rows="8" class="input-max hd" data-toggle="kindeditor" data-config="simple"
                                  data-kdheight="150" data-tongji="remain"
                                  data-tongji-target=".js_kindeditor_tongji" data-rule-rangelength="[0,50000]"
                                  name="appeal_explain" style="visibility:hidden;">{$setting.appeal_explain|raw}</textarea>
                            <p class="pull-right js_kindeditor_tongji">还可输入{0}字</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="information_article">
                    <div class="form-group publicnote_status">
                        <label class="control-label">新手教程：</label>
                        <div class="col-sm-9 " style="padding-left:0px;">
                        <textarea rows="8" class="input-max hd" data-toggle="kindeditor" data-config="simple"
                                  data-kdheight="150" data-tongji="remain"
                                  data-tongji-target=".js_kindeditor_tongji" data-rule-rangelength="[0,50000]"
                                  name="new_user_course" style="visibility:hidden;">{$setting.new_user_course|raw}</textarea>
                            <p class="pull-right js_kindeditor_tongji">还可输入{0}字</p>
                        </div>
                    </div>
                    <div class="form-group publicnote_status">
                        <label class="control-label">叮叮快讯：</label>
                        <div class="col-sm-9 " style="padding-left:0px;">
                        <textarea rows="8" class="input-max hd" data-toggle="kindeditor" data-config="simple"
                                  data-kdheight="150" data-tongji="remain"
                                  data-tongji-target=".js_kindeditor_tongji" data-rule-rangelength="[0,50000]"
                                  name="news_flash" style="visibility:hidden;">{$setting.news_flash|raw}</textarea>
                            <p class="pull-right js_kindeditor_tongji">还可输入{0}字</p>
                        </div>
                    </div>
                    <div class="form-group publicnote_status">
                        <label class="control-label">信用积分说明：</label>
                        <div class="col-sm-9 " style="padding-left:0px;">
                        <textarea rows="8" class="input-max hd" data-toggle="kindeditor" data-config="simple"
                                  data-kdheight="150" data-tongji="remain"
                                  data-tongji-target=".js_kindeditor_tongji" data-rule-rangelength="[0,50000]"
                                  name="integral_article" style="visibility:hidden;">{$setting.integral_article|raw}</textarea>
                            <p class="pull-right js_kindeditor_tongji">还可输入{0}字</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <footer class="footer bg-white b-t p-t">
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-1">
                <button type="submit" class="btn btn-primary js_save_submit" data-loading-text="保存中...">保存
                </button>
                <button type="button" class="btn btn-default" data-toggle="back">取消</button>
            </div>
        </div>
    </footer>
</form>
{/block}

{block name="footer"}
<script type="text/javascript">
seajs.use(["dist/plupload/init.js"]);

function addRechargeMoney(){
    var html = '<div><input type="text" name="rechargeMoneyList[]" class="input-large" value=""><button type="button" class="btn btn-default " onClick="delRechargeMoney(this);" style="margin-bottom: 1%;margin-left:2.3%">删除</button><br/></div>';

    $('#rechargeMoneyList').append(html);
}
function delRechargeMoney(obj){
     $(obj).siblings().remove();
     $(obj).remove();
}
function addShareAwards(){
    var html = 
        '<div>'+
            '直推量 <input type="text" name="shareAwards[num][]" style="width:10%" value=""> 台 '+
            '分享代数 <input type="text" name="shareAwards[layer][]" style="width:10%" value=""> 代 '+
            '收益比例 <input type="text" name="shareAwards[ratio][]" style="width:10%" value=""> % '+
            '<button type="button" class="btn btn-default" onClick="delShareAwards(this);" style="margin-bottom: 1%;margin-left:2.3%">删除</button><br/>'+
        '</div>';
    $('#shareAwards').append(html);
}
function delShareAwards(obj){
     $(obj).parent().remove();
}
function addTradeTeams(){
    var html =
        '<div>'+
        '直推矿机 <input type="text" name="traderTeams[num][]" style="width:10%" value=""> 台 '+
        '团队有效矿机 <input type="text" name="traderTeams[layer][]" style="width:10%" value=""> 台 '+
        '收益比例 <input type="text" name="traderTeams[ratio][]" style="width:10%" value=""> % '+
        '<button type="button" class="btn btn-default" onClick="delTradeTeams(this);" style="margin-bottom: 1%;margin-left:2.3%">删除</button><br/>'+
        '</div>';
    $('#tradeTeams').append(html);
}
function delTradeTeams(obj){
    $(obj).parent().remove();
}
</script>
{/block}
