<table class="table  table-hover  m-b-none">
<tr>
    <th>页面名称</th>
    <th width="150" >类型</th>
    <th width="150" style="text-align: center;">首页显示</th>
    <th width="150" >创建时间</th>
    <th width="150" >更新时间</th>
    <th width="100">操作</th>
</tr>
{volist name="data.list" id="vo" }
<tr>
    <td>{$vo.theme_name}</td>
    <td>{$vo.theme_type}</td>
    <td align="center"><a href="#" data-remote="{:url('ajaxEdit',array('st_id'=>$vo['st_id'],'field'=>'is_index'))}" class="{$vo.is_index|tplckval='=1','active'}"  data-toggle="class" data-ajax="true"><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a></td>
    <td>{$vo.add_time|dateTpl}</td>
    <td>{$vo.update_time|dateTpl}</td>
    {if condition="$vo.is_new == 1"}
        <td>
            <a href="{:url('info',['id'=>$vo['st_id']])}"  title="编辑" class="fa fa-edit m-xs" ></a>
            <a href="{:url('preview',['id'=>$vo['st_id']])}" target="_blank"  title="查看" class="fa fa-search m-xs" ></a>
        </td>
    {else/}
        <td><a href="{:url('sys_admin.editPage/index')}"  title="编辑" class="fa fa-edit m-xs" ></a></td>
    {/if}
</tr>
{/volist}
</table>
{empty name="data.list"}
<table width="100%" >
 	<tr><td height="300" colspan="8" align="center" valign="middle" >没有相关数据！</td></tr>
</table>
{/empty}  