<table class="table  table-hover  m-b-none">
<thead>
<tr>
    <th width="80">编号</th>
    <th width="150">用户信息</th>
    <th width="150">手机号</th>
    <th width="120">姓名</th>
    <th width="100">身份证号</th>
    <th width="150">认证时间</th>
    <!-- <th width="150">操作</th> -->
</tr>
</thead>
<tbody>

{volist name="data.list" id="vo" }
<tr>
    <td>{$vo.id}</td>
    <td><a href="{:url('member/sys_admin.users/info',['user_id'=>$vo['user_id']])}" target="_blank">{$vo.user_id}-{$vo.user_id|userInfo}</a></td>
    <td>{$vo.mobile}</td>
    <td>{$vo.user_name}</td>
    <td>{$vo.id_card}</td>
    <td>{$vo.add_date}</td>
    <!-- <td>
        <a href="{:url('info',array('order_id'=>$vo['order_id']))}" class="m-xs" title="查看">
            <i class="fa fa-edit text-muted"></i>
        </a>
    </td> -->
</tr>
{/volist}
</tbody>
</table>
{empty name="data.list"}
<table width="100%" >
 	<tr><td height="300" colspan="8" align="center" valign="middle" >没有相关数据！</td></tr>
</table>
{/empty}