{extend name="mainadmin@layouts/base" /}
{block name="main" }

<header class="header  b-b clearfix">
    <form id="forms" class="talbe-search form-inline "  method="post" action="{:url('getList')}" >
     <div class="page-breadcrumbs">
            <ul class="breadcrumb" >
                <li>
                    <i class="fa fa-ellipsis-v"></i>
                    <strong>会员充值</strong>
                </li>                                  
            </ul>
           <select name="status"  style="width: 150px;" data-toggle="select2" data-chang="submit"  >
             <option value="-1">所有状态</option>
             {$userRechargeTypeOpt|raw}
            </select>
             <select name="pay_id"  style="width: 150px;" data-toggle="select2" data-chang="submit"  >
             <option value="">所有充值方式</option>
             {volist name="payList" id="vo" }
             	{eq name="vo.is_recharge" value="1"}
             		<option value="{$vo.pay_id}" {$search['pay_id']==$vo['pay_id']?'selected':''}>{$vo.pay_name}</option>
                {/eq}
             {/volist}
            </select>
           <div class="form-group">
                <a class="btn btn-default " data-toggle="reportrange" data-change="submit">
                    <i class="fa fa-calendar fa-lg"></i>
                    <small>充值时间</small>
                    <span></span> <b class="caret"></b>
                    <input type="hidden" value="{$start_date} - {$end_date}" id="reportrange" name="reportrange" />
                </a>
          </div>
          <input type="text" class="form-control input-large" value="{$search.keyword}" name="keyword" placeholder="会员ID" data-rule-required="true" />
          <button class="btn btn-sm btn-default-iq" type="submit" title="搜索"><i class="fa fa-search"></i></button>
      
         
    </div>
</form>
</header>

<section class="scrollable wrapper w-f ">
    <section class="panel panel-default ">
        <div class="table-responsive " id="list_box">
            {include file="sys_admin/recharge/list" /}
        </div>
    </section>
</section>
<script type="text/javascript">
    $(document).on('click','.operatbtn',function(){
        $('#operating').val($(this).data('type'));
        $('.postBtn').click();
    })
</script>
{/block}
