{extend name="mainadmin@layouts/base" /}
{block name="main" }

<header class="header  b-b clearfix">
    <form id="forms" class="talbe-search form-inline "  method="post" action="{:url($is_cancel==true?'trashList':'getList')}" >
     <div class="page-breadcrumbs">
            <ul class="breadcrumb" >
                <li>
                    <i class="fa fa-ellipsis-v"></i>
                    <strong>{$is_cancel==true?'订单回收列表':'订单列表'}</strong>
                </li>                                  
            </ul>
          {if condition="$is_cancel != true"}  
         <select name="state" class="state_select" style="width: 100px;" data-toggle="select2"  onchange="state_select(this)" data-chang="submit">
             <option value="0" {$search['state']==0?'selected':''} >全部订单</option>
             <option value="9" {$search['state']==1?'selected':''} >已支付</option>
             <option value="9" {$search['state']==2?'selected':''} >待支付</option>
         </select>
		{/if}
           <div class="form-group">
                <a class="btn btn-default " data-toggle="reportrange" data-change="submit">
                    <i class="fa fa-calendar fa-lg"></i>
                    <small>下单时间</small>
                    <span></span> <b class="caret"></b>
                    <input type="hidden" value="{$start_date} - {$end_date}" id="reportrange" name="reportrange" />
                </a>
          </div>
          <input type="text" class="form-control input-large" value="{$search.keyword}" name="keyword" placeholder="订单编号/购买人ID" data-rule-required="true" />
           <button class="btn btn-sm btn-default-iq" type="submit" title="搜索"><i class="fa fa-search"></i></button>

    </div>
</form>
</header>

<section class="scrollable wrapper w-f ">
    <section class="panel panel-default ">
        <div class="table-responsive " id="list_box">
            {include file="sys_admin/order/list" /}
        </div>

    </section>
</section>

{/block}

{block name="footer" }

{/block}
