<table class="table table-bordered  table-hover">
    <thead class="flip-content bordered-palegreen">
    <tr>
        <th width="120">商品编号</th>
        <th>商品名</th>
        <th width="150">供货价</th>
        <th width="150">商城售价</th>
        <th width="60">上架</th>
        <th width="60">分销</th>
        <th width="60">促销</th>
        <th width="60">推荐</th>
        <th width="60">新品</th>
        <th width="60">热销</th>
        <th width="80">库存</th>
        <th width="60">排序</th>
        <th width="80">操作</th>
    </tr>
    </thead>
    <tbody>
    {volist name="data.list" id="vo" }
    <tr>
        <td>{$vo['is_spec']==0?$vo['goods_sn']:'多规格'}</td>
        <td>{$vo.goods_name}</td>
        <td>{$vo['is_spec']==0?$vo['settle_price']:$vo['settle_min_price'].'~'.$vo['settle_max_price']}</td>
        <td>{$vo['is_spec']==0?$vo['shop_price']:$vo['min_price'].'~'.$vo['max_price']}</td>
        <td align="center"><a href="javascript:;" class="{$vo.isputaway|tplckval='=1','active'}" ><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a></td>
        <td align="center"><a href="javascript:;" class="{$vo.is_dividend|tplckval='=1','active'}"><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a></td>
        <td align="center"><a href="javascript:;" class="{$vo.is_promote|tplckval='=1','active'}"><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a></td>

        <td align="center"><a href="#" data-remote="{:url('ajaxEdit',array('goods_id'=>$vo['goods_id'],'field'=>'is_best'))}" class="{$vo.is_best|tplckval='=1','active'}"  data-toggle="class" data-ajax="true"><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a></td>
        <td align="center"><a href="#" data-remote="{:url('ajaxEdit',array('goods_id'=>$vo['goods_id'],'field'=>'is_new'))}" class="{$vo.is_new|tplckval='=1','active'}"  data-toggle="class" data-ajax="true"><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a></td>
        <td align="center"><a href="#" data-remote="{:url('ajaxEdit',array('goods_id'=>$vo['goods_id'],'field'=>'is_hot'))}" class="{$vo.is_hot|tplckval='=1','active'}"  data-toggle="class" data-ajax="true"><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a></td>
        <td align="center">
            {$vo.goods_number}
        </td>
        <td align="center"><span data-url="{:url('ajaxEdit',array('goods_id'=>$vo['goods_id']))}" data-field="sort_order" data-toggle="ajaxEditInput">{$vo.sort_order}</span></td>
        <td align="center">
            {if condition="$is_delete == 0"}
            <a href="{:url('info',array('list_type'=>$listType,'goods_id'=>$vo['goods_id']))}"  title="编辑" class="fa fa-edit m-xs" ></a>
            {if condition="$is_supplyer == false"}
            <a href="{:url('del',array('goods_id'=>$vo['goods_id']))}" data-toggle="ajaxRemove" data-msg="确定将 {$vo.goods_name} 放入回收站？"  class="fa fa-trash"  title="回收"></a>
            {/if}
            {else/}
            <a href="{:url('revert',array('goods_id'=>$vo['goods_id']))}" data-toggle="ajaxRemove" data-msg="确定还原 {$vo.goods_name} ？" title="还原"  class="fa fa-repeat m-r"></a>
            {/if}
        </td>
    </tr>
    {/volist}
    </tbody>
</table>
{empty name="data.list"}
<table width="100%" >
    <tr><td height="300" colspan="8" align="center" valign="middle" >没有相关数据！</td></tr>
</table>
{/empty}  